  {% extends "signups/wsf/base.html" %}
  {% block content %}  
		{% if acct["accountDefinedValues"]["Status"] == "Dropoff" and acct["nameFormat"] < 3 %}
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				<p>Hi {{ acct["firstName"] }}, </p>
				<p>Thanks for signing up with Empties to WINN. Our driver
        will be by on the date below.</p>
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Date: {{ acct["accountDefinedValues"]["Dropoff Date"].strftime("%B %d") }} 
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Address: {{ acct["address"] }}, {{ acct["postalCode"] }}
			</div>
      {% if acct["accountDefinedValues"]["Frequency"] == "Single Pick-up" %}
        <div style='font-size:12pt; margin: 1.0em 0.5em'>
          Our driver will be by between 8:00 - 5:00. You do not need to be home for the pick-up, simply leave your empties by your front entrance (unless another arrangement has been discussed).
        </div>
      {% else %}
        <div style='font-size:12pt; margin: 1.0em 0.5em'>
          Please let us know if the address above is incorrect.
          Our driver will be by between 9:00 - 5:00 to deliver your collection supplies. You do not need to be home. If you have empties, you can label them <b>'WSF'</b> and place them at your front entrance.
        </div>
      {% endif %}
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				We hope you enjoy the service.
			</div>
		{% elif acct["accountDefinedValues"]["Status"] == "Dropoff" and acct["nameFormat"] == 3 %}
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				<p>Hi {{ acct["accountDefinedValues"]["Contact"] }}, </p>
				<p>Thanks for signing up with Empties to WINN.</p>
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Dropoff Date: {{ acct["accountDefinedValues"]["Dropoff Date"] }} 
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Address: {{ acct["address"] }}, {{ acct["postalCode"] }}
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				We'll come by on that date and dropoff your collection containers and bags.
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				We hope you enjoy the service.
			</div>
		{% elif acct["accountDefinedValues"]["Status"] == "One-time" %}
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				<p>Hi {{ acct["firstName"] }}, </p>
				<p>Thanks for signing up with Empties to WINN.</p>
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Pickup Date: {{ acct["accountDefinedValues"]["Dropoff Date"] }} 
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Address: {{ acct["address"] }}, {{ acct["postalCode"] }}
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Please let us know if the address above is incorrect.
				We'll come by and pick up your empties between 8am-4pm.
				Please have your empties bagged or boxed and placed by your front entrance if possible.
			</div>
		{% endif %}
{% endblock %}
