{% extends "views/base.html" %}

{% block content %}  
  <script src="{{url_for("static", filename="main/js/strftime.js")}}"></script>
  <script src="{{url_for("notify.static", filename="js/event_list.js")}}"></script>
  <script> 
    jQuery(function($) {
      event_list_init();
      alertMsg("{{msg|safe}}", "info", 15000);
    }); 
  </script>

  <div style="margin-bottom:10em" class="container-fluid border">
    <div class="data-navbar-div">
      <a class="hover" 
         href="{{ url_for("notify.view_event_list") }}">Notification Events</a> / 
      <a id="new_event"
         style="font-weight:bold; text-decoration:none;" 
         title="Schedule a new event" 
         href="#">+</a>
    </div>
    <table id="events_tbl" class="table table-hover table-colored">
      <thead>
        <tr>
          <th>Name</th>
					<th>Date</th>
					<th>Type</th>
					<th>Email Notifications</th>
					<th width="5%" >Count</th>
					<th>Voice/SMS Notifications</th>
					<th width="5%" >Count</th>
          <th style="width:50px"></th>
        </tr>
      </thead>
      <tbody>
      {% for event in events %}
      {% set show_event_url = url_for("notify.view_event", evnt_id=event._id)
      %}
				<tr id="{{event._id}}">
					<td>
						<a class="hover" href="{{ show_event_url }}">{{ event.name }}</a>
					</td>
					<td>
						{% if event.event_dt is defined %}
							<a class="hover" href="{{ show_event_url }}">{{
                event.event_dt.strftime("%A %b %d") }}</a>
						{% endif %}
					</td>
          <td>{{ event.type }}</td>

          {% set vars = {"email_trig": False} %}
          {% for trigger in event.triggers if trigger.type == "email" %}
              {% if trigger.status == "fired" %}
                <td><font color="green">Sent</font> @ {{
                  trigger.fire_dt.strftime("%b %d, %I:%M %p")
                }}</td>
              {% elif trigger.status == "pending" %}
                <td><font color="blue">Pending</font> @ {{
                  trigger.fire_dt.strftime("%b %d, %I:%M %p")
                }}</td>
              {% endif %}
              <td>{{ trigger["count"] }}</td>

              {% do vars.update({"email_trig":True}) %}
          {% endfor %}

          {% if not vars.email_trig %}
            <td><hr></td><td><hr></td>
          {% endif %}

          {% set vars = {"voice_sms_trig": False} %}
          {% for trigger in event.triggers if trigger.type == "voice_sms" %}
              {% if trigger.status == "fired" %}
                <td><font color="green">Sent</font> @ {{
                  trigger.fire_dt.strftime("%b %d, %I:%M %p")
                }}</td>
              {% elif trigger.status == "pending" %}
                <td><font color="blue">Pending</font> @ {{
                  trigger.fire_dt.strftime("%b %d, %I:%M %p")
                }}</td>
              {% endif %}
              <td>{{ trigger["count"] }}</td>

              {% do vars.update({"voice_sms_trig":True}) %}
          {% endfor %}

          {% if not vars.voice_sms_trig %}
            <td><hr></td><td><hr></td>
          {% endif %}

					<td>
						<button 
							data-toggle="tooltip"	
              class="ui-button ui-widget ui-corner-all ui-button-icon-only
              delete-btn"
							type="button" 
							id="{{ url_for("api._cancel_event",evnt_id=event._id) }}" 
							title="Delete this event"
							name="delete-btn">
              <span class="ui-button-icon-primary ui-icon ui-icon-trash"></span>
						</button>
					</td>
				</tr>
      {% endfor %}
      </tbody>
    </table>

		<div class="loader-div">
			<button class="btn btn-info loader">
				<span class="fa fa-refresh loader-animate"></span>  Creating Event...</button>
		</div>
  </div>

  <!-- New Event Dialog -->
  <div id="new_event_modal" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div style="width:1200px" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Schedule a New Event</h4>
        </div>
        <div class="modal-body">
          {% include "views/new_event.html" %} 
        </div>
        <div class="modal-footer">
          <button id="btn-default" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="submit_btn" type="button" class="btn
          btn-primary">Schedule</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


