{% extends "views/base.html" %}

{% block head %}
  <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js"></script>
  <script type="text/javascript" src="{{url_for("notify.static", filename="js/event.js")}}"></script>
  <script> $(function() {init();}); </script>
{% endblock %}
  
{% block content %} 
  <div class="alert br-alert"></div>
  <div class="my-5">
    <div class="card"> 
      <div class="card-header blue">
        <label style="font-weight:400; font-size:1.5rem">
          <a class="hover" style="color:white"
          href="{{ url_for("notify.view_event_list") }}">Notification Events</a> / 
          {{ event.name }}
        </label>
      </div>
      <table id="notific-table" class="table table-hover table-colored">
        <thead>
          <tr>
        <th><a class="hover" href="#">Name</a></th>

        {% for trigger in triggers %}
          {% if trigger["type"] == "voice_sms" %}
            <th><a class="hover" href="#">Phone</a></th>
          {% endif %}
        {% endfor %}

        {% for trigger in triggers if trigger["type"] == "email" %}
          <th><a class="hover" href="#">Email</a></th>
        {% endfor %}

            {% if notifications[0]["results"][0]["account"][0]["udf"] %}
              {% for field in notifications[0]["results"][0]["account"][0]["udf"] %}
                {% if field == "pickup_dt" %}
                  <th><a class="hover" href="#">{{ field }}</a></th>
                {% endif %}
              {% endfor %}
            {% endif %}

        {% for trigger in triggers if trigger["type"] == "email" %}
              <th id="{{trigger["_id"]}}"><a 
                class="hover"
                href="#">{{trigger["type"]}} Status</a>
              </th>
        {% endfor %}

        {% for trigger in triggers if trigger["type"] == "voice_sms" %}
              <th id="{{trigger["_id"]}}"><a 
                class="hover"
                href="#">{{trigger["type"]}} Status</a>
              </th>
        {% endfor %}

            {% for trigger in triggers if trigger["type"] == "voice_sms" %}
              <th>SMS Reply</th>
            {% endfor %}

            <th class="cancel-call-col" style="width:50px"></th>
          </tr>
        </thead>

        <!-- Notifications Rows -->
        <tbody id="notific-rows">

        {% for row in notifications %}
          <tr id="{{row["_id"]["$oid"]}}" data-tracking="{{row["results"]}}">
          <td id="{{row['results'][0]['account'][0]['udf']['etap_id']}}" name="name">{{row["results"][0]["account"][0]["name"]}}</td>

          <!-- phone -->
          {% for trigger in triggers if trigger["type"] == "voice_sms" %}
            {% set vars = {"phone":"<hr>"} %}
            {% for notific in row["results"] %}
              {% if notific["type"] == "voice" or notific["type"] == "sms" %}
                {% do vars.update({"phone": notific.to}) %}
              {% endif %}
            {% endfor %}
            <td name="phone">{{ vars["phone"] }}</td>
          {% endfor %}
            
          <!-- email -->
          {% for trigger in triggers if trigger["type"] == "email" %}
            {% set vars = {"email": "<hr>"} %}
            {% for notific in row["results"] %}
              {% if notific["type"] == "email" %}
                {% do vars.update({"email": notific.to}) %}
              {% endif %}
            {% endfor %}
            <td name="email">{{ vars["email"] }}</td>
          {% endfor %}
          
          <!-- UDF"s -->
          {% if row["results"][0]["account"][0]["udf"] %}
            {% for k, v in row["results"][0]["account"][0]["udf"].iteritems() %}
              {% if k == "pickup_dt" %}
                <td name="udf.{{k}}">{{ v }}</td>
              {% endif %}
            {% endfor %}
          {% endif %}

          <!-- email status -->
      {% for trigger in triggers if trigger["type"] == "email" %}
        {% set status = {"email":"<hr>", "_id":""} %}
        {% for notific in row["results"] if notific["type"] == "email" %}
            {% do status.update({"email": notific["tracking"]["status"]}) %}
            {% do status.update({"_id": notific["_id"]["$oid"]}) %}
        {% endfor %}
        <td id="{{status["_id"]}}" name="email_status">{{ status["email"] }}</td>
      {% endfor %}

      <!-- voice/sms status -->
      {% for trigger in triggers if trigger["type"] == "voice_sms" %}
        {% set status = {"phone":"<hr>", "_id":""} %}
        {% for notific in row["results"]%}
          {% if notific["type"] == "voice" or notific["type"] == "sms" %}
            {% do status.update({"phone": notific["tracking"]["status"]}) %}
            {% do status.update({"_id": notific["_id"]["$oid"]}) %}
          {% endif %}
        {% endfor %}
        <td id="{{status["_id"]}}" name="voice_sms_status">{{ status["phone"] }}</td>
      {% endfor %}

          <!-- SMS reply -->
          {% set status = {"content":"<hr>"} %}
          {% for notific in row["results"] if notific["type"] == "sms"%}
              {% do status.update({"content": notific["tracking"]["reply"]}) %}
          {% endfor %}
          <td data-toggle="tooltip" title="{{status["content"]}}" name="sms_reply">{{ status["content"] }}</td>

      <!-- Delete Button -->
      <td class="cancel-notific">
        <button 
          data-toggle="tooltip"
          class="btn btn-secondary btn-outline btn-sm delete-btn"
          type="button" 
          id="{{row["_id"]["$oid"]}}" 
          name="delete-btn">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
	<div style="margin-bottom:15em"></div>
{% endblock %}
