<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans|Kavoon|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Bravo</title>
    {% endif %}
  </head>
  <body>
    <script type=text/javascript>var $URL_ROOT= {{request.url_root|tojson|safe}};</script> 
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

    <script type='text/javascript' src="{{url_for('static', filename='js/jquery.nicefileinput.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/date.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static', filename='js/bravo.js')}}"></script>
      
    <div class='container'>
      <ul id='app_menu' class="nav nav-pills" style='float:right'>
        <li role="presentation"><a href="{{url_for('view_jobs')}}"><span class='glyphicon glyphicon-home'></span> Home</a></li>
        <li role="presentation"><a href="{{url_for('view_log')}}"><span class='glyphicon glyphicon-console'></span> Log</a></li>
        <li role="presentation"><a href="{{url_for('view_admin')}}"><span class='glyphicon glyphicon-cog'></span> Settings</a></li>
        <li role="presentation"><a href="{{url_for('logout')}}"><span class='glyphicon glyphicon-log-out'></span> Logout</a></li>
      </ul>
      <div style='width:200px; margin:0.5em auto' class='center'>

					<img src="{{ url_for('static',filename='images/facebook-circle-128.jpg')}}"></a>

        <a href="{{url_for('view_jobs')}}"><img id='buit' src="{{ url_for('static',
        filename='images/bravo_comfortaa.png') }}"></a>
      </div>
      {% block content %}{% endblock %}
    </div>

    <div id='mymodal' class='modal fade'>
      <div style='margin-top:15em' class='modal-dialog'>
        <div class="modal-content">
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class='modal-body'>
            <p></p>
          </div>
          <div class='modal-footer'>
            <button id='btn-default' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id='btn-primary' type="button" class="btn btn-primary"></button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>
