  {% extends "views/base.html" %}
  {% block content %} 
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <script>
    document.write('<style type="text/css">body{display:none}</style>');
    jQuery(function($){
      initShowCallsView();
    });
  </script>
  
  <div class='row' style='padding:20px 0px 30px 0px; text-align:center'>
    <h2>
      <span id='job-header' class='label label-primary'>
        <label id='job-status'>{{job.status.title().replace('-',' ')}}</label>
        <label id='job-summary'></label>
      </span>
    </h2>
      <p id='scheduled_datetime' style='display:none'>{{ job.fire_dtime }}</p>
  </div>
  
  <div class='data-container'>
    <div class='navbar-div'>
      <a class='hover' href="{{ url_for('index') }}">Jobs</a> / 
      {{ job.name }}
    </div>
    <table id='show-calls-table' class='table table-hover table-colored'>
      <thead>
        <tr>
          <!-- Imported Headers -->
          {% set col_num=1 %}
          {% set col_arr=[] %}
          {% for column in template if not column.hide %}
            <th style='text-align:left' id='col{{ col_num }}'>
              <a title='Sort' class='hover' href='#'>{{ column['field'].title().replace('_', ' ') }}</a>
            </th>
            {% set col_num = col_num + 1 %}
            {% do col_arr.append(1) %}
          {% endfor %}
          <!-- Status Headers -->
          {% for column in template %}
            {% if 'status_field' in column %}
              <th name='{{column['status_field']}}' style='text-align:right'  id='col{{col_arr|length+1}}'>
                <a title='Sort' class='hover' href='#'>{{column['status_field'].title().replace('_', ' ')}}</a>
              </th>
            {% set col_num = col_num + 1 %}
            {% do col_arr.append(1) %}
            {% endif %}
          {% endfor %}
          <th class='cancel-call-col' style='width:50px'></th>
        </tr>
      </thead>
      <tbody>
        {% set row_num=1 %}
        {%  for call in calls %}
        <tr id='{{ call._id }}'>
          <!-- Imported Fields -->
          {% for column in template if not column.hide %}
            {% if column.field == "email" %}
              {% set style="WORD-BREAK:BREAK-ALL" %}
            {% endif %}
            {% if call.imported[column.field] == '' %}
              <td style='{{style}}' name="{{column.field}}">---</td>
            {% else %}
              <td style='{{style}}' name="{{column.field}}">{{call.imported[column.field]}}</td>
            {% endif %}
          {% endfor %}

          {% for column in template %}
            <!-- Call Status -->
            {% if 'status_field' in column and column['status_field'] == 'call_status' %}
              {% if call.call_status == "completed" %}
                {% set caption=call.call_status + ' ' + call.answered_by %}
                {% set tooltip = call.speak  %}
              {% elif call.call_status == "no-answer" or call.call_status == "busy" %}
                {% set caption = call.call_status + ' ' ~ call.attempts %}
              {% elif call.call_status == "failed" %}
                {% set caption = call.call_status + ' ' + call.call_error %}
              {% else %}
                {% set caption=call.call_status %}
              {% endif %}
                <td name='call_status' style='text-align:right; font-weight:normal;' title='"{{tooltip}}"'>{{caption}}</td>
            <!-- Email Status -->
            {% set tooltip = '' %}
            {% elif 'status_field' in column and column['status_field'] == 'email_status' %}
              {% if call['email_status'] == 'bounced' or call['email_status'] == 'dropped' %}
                {% set tooltip = call.email_error %}
              {% endif %}
              <td title='{{tooltip}}' style='text-align:right; font-weight:normal;' name='email_status'>{{call["email_status"]}}</td>
            {% endif %}
          {% endfor %}
          <!-- Delete Button -->
          <td class='cancel-call-col'>
            <button 
              class='delete-btn' 
              type="button" 
              id="{{ call._id }}" 
              name="delete-btn">
            </button>
          </td>
        </tr>
        {% set row_num = row_num + 1 %}
        {% endfor %}
    </tbody>
    </table>
  </div>
    <br><br>
  <div style='text-align:center;'>
    <button style='margin:0 auto;' class='btn btn-primary' type='button' id='execute-job'>Execute Now </button>
    <button style='margin:0 auto;' class='btn btn-primary' type='button' id='email-job'>Email Now </button>
    <button style='margin:0 auto;' class='btn btn-primary' type='button' id='reset-job'>Reset </button>
    <button style='margin:0 auto;' class='btn btn-primary' type='button' id='dump'>Job Info </button>
  </div>
    <br><br>
  {% endblock %}
