  {% extends "views/base.html" %}
  {% block content %} 
  <script type="text/javascript" 
					src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js">
	</script>
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/base.js')}}">
	</script>
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/views/job.js')}}">
	</script>
  <script>
    document.write('<style type="text/css">body{display:none}</style>');
    jQuery(function($){
      init();
    });
  </script>
  
  <div class='row' style='padding:20px 0px 30px 0px; text-align:center'>
    <h2>
      <span id='job-header' class='label label-primary'>
        <label id='job-status'>
						{{job.status.title().replace('-',' ')}}
				</label>
        <label id='job-summary'></label>
      </span>
    </h2>
      <p id='scheduled_datetime' style='display:none'>
					{{ job.fire_calls_dtime }}
			</p>
  </div>
  
  <div class='data-container'>
    <div class='navbar-div'>
      <a class='hover' href="{{ url_for('view_jobs') }}">Jobs</a> / 
      {{ job.name }}
    </div>
    <table id='show-calls-table' class='table table-hover table-colored'>
      <thead>
        <tr>
          <!-- Imported Headers -->
          {% set col_num=1 %}
          {% set col_arr=[] %}
          {% for column in template if not column.hide %}
            <th style='text-align:left' id='col{{ col_num }}'>
              <a title='Sort' class='hover' href='#'>
                {{ column['file_header'] }}
              </a>
            </th>
            {% set col_num = col_num + 1 %}
            {% do col_arr.append(1) %}
          {% endfor %}

          <!-- Call Status Header -->
          {% if 'call' in reminders[0] %}
            <th name='Call Status' 
              style='text-align:right'  
              id='col{{col_arr|length+1}}'>
              <a title='Sort' class='hover' href='#'>
                Call Status
              </a>
            </th>

            {% set col_num = col_num + 1 %}
            {% do col_arr.append(1) %}
          {% endif %}

          <!-- Email Status Header -->
          {% if 'call' in reminders[0] %}
            <th name='Email Status' 
              style='text-align:right'  
              id='col{{col_arr|length+1}}'>
              <a title='Sort' class='hover' href='#'>
                Email Status
              </a>
            </th>

            {% set col_num = col_num + 1 %}
            {% do col_arr.append(1) %}
          {% endif %}

          <th class='cancel-call-col' style='width:50px'></th>
        </tr>
      </thead>

      <!-- Data Rows -->
      <tbody>
      {% set row_num=1 %}

      {% for reminder in reminders %}
        <tr id='{{ reminder._id }}'>
          <!-- Imported Field Columns -->
          {% for column in template if not column.hide %}
            {% set field = column['db_field'] %}

            {% if "." in field %}
              {% set dot_ind = field.index('.') %}
              {% set len = field|length %}
              {% set value = reminder[field[0:dot_ind]][field[dot_ind+1:field|length]] %}
            {% else %}
              {% set value = reminder[field] %}
            {% endif %}

            {% if field == "email" %}
              {% set style="WORD-BREAK:BREAK-ALL" %}
            {% endif %}

            {% if value == '' %}
              <td style='{{style}}' name="{{ field }}">
                ---
              </td>
            {% else %}
              <td style='{{style}}' name="{{ field }}">
                {{ value }}
              </td>
            {% endif %}
          {% endfor %}

          <!-- Call Status -->
          {% if 'call' in reminder  %}
              <td name='call_status' style='text-align:right; font-weight:normal;'>
								{{ reminder['call']['status'] }}
              </td>
          {% endif %}

          <!-- Email Status -->
          {% if 'email' in reminder %}
						{% set e_status = reminder['email']['status'] %}
						{% if e_status == 'bounced' or e_status == 'dropped' %}
              {% set tooltip = reminder['email']['error'] %}
            {% endif %}
            <td title='{{ tooltip }}' style='text-align:right; font-weight:normal;' 
                name='email_status'>{{ e_status }}
            </td>
          {% endif %}

          <!-- Delete Button -->
          <td class='cancel-call-col'>
            <button 
              class='delete-btn' 
              type="button" 
              id="{{ reminder['_id'] }}" 
              name="delete-btn">
            </button>
          </td>
        </tr>
      {% set row_num = row_num + 1 %}
      {% endfor %}
    </tbody>
    </table>
  </div>
    <br><br>
  <div style='text-align:center;'>
    <button style='margin:0 auto;' class='btn btn-primary' 
						type='button' id='execute-job'>Execute Now </button>
    <button style='margin:0 auto;' class='btn btn-primary' 
						type='button' id='email-job'>Email Now </button>
    <button style='margin:0 auto;' class='btn btn-primary' 
						type='button' id='reset-job'>Reset </button>
    <button style='margin:0 auto;' class='btn btn-primary' 
						type='button' id='dump'>Job Info </button>
  </div>
    <br><br>
  {% endblock %}
