  {% extends "views/base.html" %}
  {% block content %}  
  <script type="text/javascript" 
          src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js">
  </script>
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/base.js')}}">
	</script>
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/views/job_list.js')}}">
	</script>
  <script>
   document.write('<style type="text/css">body{display:none}</style>');
    jQuery(function($){
      init();
    });
  </script>
  
  <div style='margin:40px 10px 40px 10px; text-align:center'>
    <h3 class='thin'>
    <script>
      var date = new Date();
      document.write('<b>' + date.toString('dddd, MMMM d, yyyy') + '</b>');
    </script>
    </h3>
  </div>
  <div id='status-banner' class='status-banner-div'>{{banner_msg}}</div>
  
  <div class='data-container'>
    <div class='navbar-div'>
      <a class='hover' href="{{ url_for('view_jobs') }}">Jobs</a> / 
      <a style='font-weight:bold; text-decoration:none;' title='Schedule a new job' href="{{ url_for('new_job') }}">+</a>
    </div>
    <table class='table table-hover table-colored'>
      <thead>
        <tr>
         <th style='width:245px'>Scheduled</th>
        <!-- <th style='min-width:200px'>Scheduled</th>-->
          <th>Name</th>
          <th>Type</th>
          <th>Calls</th>
          <th>Status</th>
          <th style='width:50px'></th>
        </tr>
      </thead>
      <tbody>
      {% for job in jobs %}
      {% set show_calls_url = url_for('view_job', job_id=job._id)
      %}
      <tr id='{{job._id}}'>
        <td>
          <a class='hover' href="{{ show_calls_url }}">
						{{ job.voice.fire_at.strftime("%A %b %d @ %I:%M %p") }}
          </a>
        </td>
        <td name='job-name'>
          <a class='hover' href="{{ show_calls_url }}">{{ job.name }}</a>
        </td>
        <td name='job-type'>
          <a class='hover' href="{{ show_calls_url }}">
						{{ job.schema.type }}
          </a>
        </td>
        <td>
          <a class='hover' href="{{ show_calls_url }}">
            {{ job.voice.count }}
          </a>
        </td>
        <td name='job-status'>
        {% if job.status == "completed" %}
          <p style='color:green;'>
          {{ job.status.title() }}
        {% elif job.status == "pending" %}
          <p style='color:blue;'>
          {{ job.status.title() }}
        {% elif job.status == "in-progress" %}
          <p style='color:red;'>
          {{ job.status.title() }}
          </p>
        {% endif %}
        </td>
        <td>
          <button 
            class='delete-btn' 
            type="button" 
            id="{{ url_for('cancel_job',job_id=job._id) }}" 
            title='Delete this job'
            name="delete-btn">
          </button>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <nav>
    <ul class="pager">
      <li><a id='newer-page' href='#'><span aria-hidden="true">&laquo;</span>  Newer</a></li>
      <li><a id='older-page' href='#'>Older  <span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </nav>
  {% endblock %}


