<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<link rel="shortcut icon" 
					href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans|Kavoon|Inconsolata' 
					rel='stylesheet' 
					type='text/css'>
		<link rel="stylesheet" 
					href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" 
					integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" 
					crossorigin="anonymous">
    <link rel='stylesheet' 
					href='http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css' />
    <link rel='stylesheet' 
					type='text/css'
					href='{{ url_for('static', filename='css/style.css') }}'>
  <!--  <link rel='stylesheet' 
					type='text/css'
					href='{{ url_for('static', filename='css/new_event.css') }}'>
  -->
    {% if title %}
			<title>{{ title }}</title>
    {% else %}
			<title>Bravo</title>
    {% endif %}

  </head>
	<!-- BODY -->
  <body style='visibility:hidden'>

    <script type=text/javascript>var $URL_ROOT= {{request.url_root|tojson|safe}};</script> 

    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

		<script type="text/javascript" 
						src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>	

		<script src="https://use.fontawesome.com/e2c4434e45.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"</script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" 
						integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" 
						crossorigin="anonymous"></script>

    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

    <script type="text/javascript" src="{{url_for('static', filename='js/utils.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/date.js')}}"></script>

		<script>
			jQuery(document).ready(function() {
					$('body').css('visibility', 'visible');
				});
		</script>

   <div class='container'><!-- style='margin-top:0.5em'>-->
			<nav class="navbar navbar-light" 
					 style='background-color:white; text-align:center;'> 
				<div class='d-inline-block'
						 style='height: 1px; background-color:transparent; z-index:0; display:inline-block; position: absolute; left:0; right:0;'>
					<a class="navbar-brand float-xs-none" 
						 href="{{url_for('notify.view_event_list')}}"
						 style='margin-left:auto; margin-right: auto;'>
						<img src="{{url_for('static', filename='images/bravo_comfortaa.png')}}" 
								 width="180" 
								 height="60" 
								 class="d-inline-block align-top .m-x-auto">
					</a>
				</div>
				<ul style='z-index:1;' class="nav navbar-nav float-xs-right">
					<li style='margin-left:0.5em; margin-right:0.5em; text-align:center' class='nav-item'>
						<a class='nav-link' 
							 href="{{url_for('notify.view_event_list')}}"><i class="fa fa-calendar-check-o fa-2x main-menu-icon"></i>
							<p style='margin-bottom:0' 
									class='main-menu-a'>Notify</p>
						</a>
					</li>
					<li style='margin-left:0.5em; margin-right:0.5em; text-align:center' class='nav-item'>
						<a class='nav-link' 
							href="{{url_for('routing.show_routing')}}">
							<i class="fa fa-road fa-2x main-menu-icon"></i>
							<p style='margin-bottom:0' 
								class='main-menu-a'>Routing</p>
						</a>
					</li>
					<li style='margin-left:0.5em; margin-right:0.5em; text-align:center' class='nav-item'>
						<a class='nav-link' 
								href="{{url_for('main.show_booking')}}">
							<i class="fa fa-book fa-2x main-menu-icon"></i>
							<p style='margin-bottom:0' 
								class='main-menu-a'>Booker</p>
						</a>
					</li>
					<li style='margin-left:0.5em; margin-right:0.5em; text-align:center' class='nav-item'>
						<a class='nav-link' 
								href="{{url_for('main.view_admin')}}">
							<i class="fa fa-cogs fa-2x main-menu-icon"></i>
							<p style='margin-bottom:0' 
								class='main-menu-a'>Admin</p>
						</a>
					</li>
					<li style='margin-left:0.5em; margin-right:0.5em; text-align:center' class='nav-item'>
						<a class='nav-link' 
								href="{{url_for('auth.logout')}}">
							<i class="fa fa-sign-out fa-2x main-menu-icon"></i>
							<p style='margin-bottom:0' 
								class='main-menu-a'>Logout</p>
						</a>
					</li>
				</ul>
			</nav>

			<hr style='margin-top:0; margin-bottom:1.0em;'></hr>

			<div class='status-banner'></div>

			<!-- PAGE CONTENT -->
			{% block content %}{% endblock %}

			{% if admin == True %}
			<div class='admin-panel-div'>
				<fieldset id='outer_pane' class='admin-fieldset'>
					<legend class='admin-border'>Admin Panel</legend>
						
					<fieldset id='admin_pane' class='admin-fieldset child'>
						<legend class='admin-border'>Admin Commands</legend>
					</fieldset>

					<fieldset id='dev_pane' class='admin-fieldset child'>
						<legend class='admin-border'>Developer Commands</legend>
					</fieldset>

				</fieldset>
			</div>
			{% endif %}

		</div><!-- /.container -->

		<!-- DIALOG BOX -->
		<div id='mymodal' class='modal fade'>
			<div style='margin-top:15em' class='modal-dialog'>
				<div class="modal-content">
					<div class='modal-header'>
						<button type='button' class='close' data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class='modal-body'>
						<p></p>
					</div>
					<div class='modal-footer'>
						<button id='btn-default' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id='btn-primary' type="button" class="btn btn-primary"></button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
</body>
</html>
