	{% extends "views/base.html" %}
	{% block content %} 
  <script src="{{url_for('static', filename='js/strftime.js')}}"></script>
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/views/booker.js')}}">
	</script>
  <script> $(function() {booker_init();}); </script>

  <div class='container-fluid' style='width:75%; text-align:center'>
    <!-- Search -->
    <div style='margin: 4em 0'>
      <form style='width:100%; margin:0 auto;' onsubmit='return false;' id='main_form' name='main_form'>  
        <div id='search_row'>
          <input 
            id='search_box'
            class='input booker'
            name='search_box'
            type='text'
            onkeydown="searchKeyPress(event)"
            onBlur='validate(this.id)'
            autocomplete='off'
            autofocus> 
          <button 
            class='btn btn-primary' 
            style='font-size:20px;' 
            type="button"
            id="find_btn"
            onclick="search(this.form)"
            name="find_btn">Search
          </button>
        </div>
      </form>
    </div>

  <!-- Results -->
  <div style='max-width:1600px' class='container-fluid'>
    <table id='results' class='table table-hover table-colored' style='display:none'>
      <thead>
        <th style='background-color:#f7f7f7'>Date</th>
        <th style='background-color:#f7f7f7'>Route</th>
        <th style='background-color:#f7f7f7'>Area</th>
        <th style='background-color:#f7f7f7'>Postal</th>
        <th style='background-color:#f7f7f7'>Booked</th>
        <th style='background-color:#f7f7f7'>Max</th>
        <th style='background-color:#f7f7f7'>Distance</th>
        <th style='background-color:#f7f7f7'></th>
      </thead>
      <tbody>
      </tbody>
		</table>
    <div id='search-loader' class='loader-div'>
      <button class="btn btn-info loader">
        <span class="fa fa-refresh loader-animate"></span>
				<label style='margin-bottom:0; margin-left:5px'>Searching...</label>
			</button>
    </div>
	</div>

  <!-- Booking Options -->
  <div id='booking_options' style='display:none'> 
    <form style='text-align:left' id='booking_form'>
      <div>
        <label name='name'></label>
      </div>
      <div>
        <label name='block'></label>
      </div>
      <div>
        <label name='date'></label>
      </div>
      <hr></hr>
      <div class='form-group'>
        <label for='driver_notes'>Enter any driver instructions:</label>
        <textarea class='form-control'
                  id='driver_notes' 
                  name='driver_notes' 
                  rows='5'
        ></textarea>
      </div>
      <div id='booker-loader' style='background-color:white; text-align:center'>
        <button class="btn btn-info loader">
          <span class="fa fa-refresh loader-animate"></span>
          <label style='margin-bottom:0; margin-left:5px'>Booking...</label>
        </button>
      </div>
    </form>

  </div>

  {% endblock %}
