{% extends "views/base.html" %}
{% block content %}  
	<script type='text/javascript' src="{{url_for('static', filename='js/base.js')}}">
	</script>
	<script type='text/javascript' src="{{url_for('static', filename='js/views/event_list.js')}}">
	</script>
  <script>
    jQuery(function($){
      init();
    });
		jQuery(document).ready(function() {
				$('.data-container').css('visibility', 'visible');
			});
	</script>
  
  <div class='data-container' style='visibility:hidden'>
    <div class='data-navbar-div'>
      <a class='hover' href="{{ url_for('notify.view_event_list') }}">Notification Events</a> / 
      <a style='font-weight:bold; text-decoration:none;' title='Schedule a new
        event' href="{{ url_for('notify.new_event') }}">+</a>
    </div>
    <table class='table table-hover table-colored'>
      <thead>
        <tr>
          <th>Name</th>
					<th>Date</th>
					<th>Email Notifications</th>
					<th>Count</th>
					<th>Voice/SMS Notifications</th>
					<th>Count</th>
          <th style='width:50px'></th>
        </tr>
      </thead>
      <tbody>
      {% for event in events %}
      {% set show_event_url = url_for('notify.view_event', evnt_id=event._id)
      %}
				<tr id='{{event._id}}'>
					<td name='job-name'>
						<a class='hover' href="{{ show_event_url }}">{{ event.name }}</a>
					</td>
					<td>
						{% if event.event_dt is defined %}
							<a class='hover' href="{{ show_event_url }}">{{
                event.event_dt.strftime("%A %b %d") }}</a>
						{% endif %}
					</td>
          {% for trigger in event.triggers %}
              {% if trigger.status == "fired" %}
                <td><font color='green'>Sent</font> @ {{
									trigger.fire_dt.strftime("%b %d, %I:%M %p")
								}}</td>
              {% elif event.status == "pending" %}
                <td><font color='blue'>Pending</font> @ {{
									trigger.fire_dt.strftime("%b %d, %I:%M %p")
								}}</td>
              {% endif %}
						<td>{{trigger.count}}</td>
          {% endfor %}
					<td>
						<button 
							class='delete-btn' 
							type="button" 
							id="{{ url_for('notify.cancel_event',evnt_id=event._id) }}" 
							title='Delete this event'
							name="delete-btn">
						</button>
					</td>
				</tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
	<div style='margin-bottom:15em'></div>
{% endblock %}


