  {% extends "views/base.html" %}
  {% block content %} 
	<script type="text/javascript"
					src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js">
	</script>
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/base.js')}}">
	</script>
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/views/event.js')}}">
	</script>
  <script>
    document.write('<style type="text/css">body{display:none}</style>');
    jQuery(function($){
      init();
    });
  </script>
  
	<!-- Countdown Timer -->
  <div class='row' style='padding:20px 0px 10px 0px; text-align:center;
  display:none'>
    <h2>
      <span id='event-header' class='label label-primary'>
        <label id='event-status'>
						{{ event.status.title().replace('-',' ') }}
				</label>
        <label id='event-summary'></label>
      </span>
    </h2>
      <p id='scheduled_datetime' style='display:none'> {{ event.event_dt.date() }}</p>
  </div>

	
	<!-- Play Sample -->
	<!--
	<div class='row' style='padding:0em 0em 3em 0em; text-align:center'>
		<button id='play-sample-btn' class='btn btn-info'>Play Sample</button>
		<audio id="music">
			<source id='audio-sample' name='audio-sample' type='audio/mpeg'>
		</audio>
	</div>-->

  <div style='padding: 2em 0em'></div>
  
  <div class='data-container'>
    <div class='navbar-div'>
      <a class='hover' href="{{ url_for('notify.view_event_list') }}">Notification Events</a> / 
      {{ event.name }}
    </div>
    <table id='show-calls-table' class='table table-hover table-colored'>
      <thead>
        <tr>
					<th id='col1'><a class='hover' href='#'>Name</a></th>
					<th id='col2'><a class='hover' href='#'>Phone</a></th>
					<th id='col3'><a class='hover' href='#'>Email</a></th>
					<th id='col4'><a class='hover' href='#'>Block</a></th>
					<th id='col5'><a class='hover' href='#'>Status</a></th>
					<th id='col6'><a class='hover' href='#'>Driver Notes</a></th>
					<th id='col7'><a class='hover' href='#'>Office Notes</a></th>
					<th id='col8'><a class='hover' href='#'>Pickup Date</a></th>
					<th id='col9'><a class='hover' href='#'>Email Status</a></th>
					<th id='col10'><a class='hover' href='#'>Voice/SMS Status</a></th>
          <th class='cancel-call-col' style='width:50px'></th>
        </tr>
      </thead>

      <!-- Notifications Rows -->
      <tbody id='notific-rows'>
      {% for row in notific_list %}
        <tr id="{{row['_id']['$oid']}}">
				<td name='name'>{{row['results'][0]['account'][0]['name']}}</td>

				<!-- phone -->
				{% set vars = {'phone':'---'} %}
				{% for notific in row['results'] %}
					{% if notific['type'] == 'voice' or notific['type'] == 'sms' %}
						{% do vars.update({'phone': notific.to}) %}
					{% endif %}
				{% endfor %}
				<td name='phone'>{{ vars['phone'] }}</td>
          
				<!-- email -->
				{% set vars = {'email': '---'} %}
				{% for notific in row['results'] %}
					{% if notific['type'] == 'email' %}
						{% do vars.update({'email': notific.to}) %}
					{% endif %}
				{% endfor %}
				<td name='email'>{{ vars['email'] }}</td>
					
				<td>{{row['results'][0]['account'][0]['udf']['block']}}</td>
				<td>{{row['results'][0]['account'][0]['udf']['status']}}</td>
				<td name='udf.driver_notes'>{{row['results'][0]['account'][0]['udf']['driver_notes']}}</td>
				<td name='udf.office_notes'>{{row['results'][0]['account'][0]['udf']['office_notes']}}</td>
				<td name='udf.pickup_dt'>{{row['results'][0]['account'][0]['udf']['pickup_dt']}}</td>

        <!-- email status -->
        {% set status = {'email':'---'} %}
				{% for notific in row['results'] if notific['type'] == 'email' %}
            {% do status.update({'email': notific['tracking']['status']}) %}
				{% endfor %}
        <td name='email_status'>{{ status['email'] }}</td>

				<!-- voice/sms status -->
        {% do status.update({'phone':'---'}) %}
				{% for notific in row['results']%}
					{% if notific['type'] == 'voice' or notific['type'] == 'sms' %}
            {% do status.update({'phone': notific['tracking']['status']}) %}
					{% endif %}
				{% endfor %}
        <td name='phone_status'>{{ status['phone'] }}</td>

				<!-- Delete Button -->
				<td class='cancel-notific'>
					<button 
						class='delete-btn' 
						type="button" 
						id="{{row['_id']['$oid']}}" 
						name="delete-btn">
					</button>
				</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
    <br><br>
  <div style='text-align:center;'>
		{% for trigger in triggers %}
			<button style='margin:0 auto;'
							class='btn btn-primary'
							name='trigger'
							id='{{trigger['_id']}}'
							type='button' 
							>Fire {{trigger['type']}}</button>
		{% endfor %}
    <button style='margin:0 auto;' class='btn btn-primary' 
						type='button' id='reset-event'>Reset </button>
  </div>
    <br><br>
  {% endblock %}
