  {% extends "views/base.html" %}
  {% block content %}  
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/base.js')}}">
	</script>
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/views/job_list.js')}}">
	</script>
  <script>
   document.write('<style type="text/css">body{display:none}</style>');
    jQuery(function($){
      init();
    });
  </script>
  
  <div style='margin:40px 10px 40px 10px; text-align:center'>
    <h3 class='thin'>
    <script>
      var date = new Date();
      document.write('<b>' + date.toString('dddd, MMMM d, yyyy') + '</b>');
    </script>
    </h3>
  </div>
  <div id='status-banner' class='status-banner-div'>{{banner_msg}}</div>
  
  <div class='data-container'>
    <div class='navbar-div'>
      <a class='hover' href="{{ url_for('main.view_events') }}">Notification Events</a> / 
      <a style='font-weight:bold; text-decoration:none;' title='Schedule a new event' href="{{ url_for('main.new_event') }}">+</a>
    </div>
    <table class='table table-hover table-colored'>
      <thead>
        <tr>
          <th>Name</th>
					<th>Date</th>
          {% for trigger in [1,2] %}
            <th>Type</th>
            <th>Scheduled</th>
            <th>Count</th>
            <th>Status</th>
          {% endfor %}
          <th style='width:50px'></th>
        </tr>
      </thead>
      <tbody>
      {% for event in events %}
      {% set show_event_url = url_for('main.view_event', event_id=event._id)
      %}
				<tr id='{{event._id}}'>
					<td name='job-name'>
						<a class='hover' href="{{ show_event_url }}">{{ event.name }}</a>
					</td>
					<td>
						{% if event.event_dt is defined %}
							<a class='hover' href="{{ show_event_url }}">{{
                event.event_dt.strftime("%A %b %d") }}</a>
						{% endif %}
					</td>
          {% for trigger in event.triggers %}
            <td>{{trigger.type}}</td>
            <td>{{trigger.fire_dt.strftime("%b %d @ %I:%M %p")}}</td>
            <td>{{trigger.count}}</td>
            <td name='event-status'>
              {% if trigger.status == "fired" %}
                <p style='color:green;'>
              {% elif event.status == "pending" %}
                <p style='color:blue;'>
              {% endif %}
              {{trigger.status}}
                </p>
            </td>
          {% endfor %}
					<td>
						<button 
							class='delete-btn' 
							type="button" 
							id="{{ url_for('main.cancel_event',event_id=event._id) }}" 
							title='Delete this event'
							name="delete-btn">
						</button>
					</td>
				</tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <nav>
    <ul class="pager">
      <li><a id='newer-page' href='#'><span aria-hidden="true">&laquo;</span>  Newer</a></li>
      <li><a id='older-page' href='#'>Older  <span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </nav>
  {% endblock %}


