{% extends "views/base.html" %}

{% block content %}  
  <script src="{{url_for('static', filename='js/views/event_list.js')}}"></script>
  <script> $(function() {init();}); </script>

  <div class='container-fluid border'>
    <div class='data-navbar-div'>
      <a class='hover' href="{{ url_for('notify.view_event_list') }}">Notification Events</a> / 
      <a style='font-weight:bold; text-decoration:none;' title='Schedule a new
        event' href="{{ url_for('notify.new_event') }}">+</a>
    </div>
    <table class='table table-hover table-colored'>
      <thead>
        <tr>
          <th>Name</th>
					<th width='15%' >Date</th>
					<th>Email Notifications</th>
					<th width='5%' >Count</th>
					<th>Voice/SMS Notifications</th>
					<th width='5%' >Count</th>
          <th style='width:50px'></th>
        </tr>
      </thead>
      <tbody>
      {% for event in events %}
      {% set show_event_url = url_for('notify.view_event', evnt_id=event._id)
      %}
				<tr id='{{event._id}}'>
					<td name='job-name'>
						<a class='hover' href="{{ show_event_url }}">{{ event.name }}</a>
					</td>
					<td>
						{% if event.event_dt is defined %}
							<a class='hover' href="{{ show_event_url }}">{{
                event.event_dt.strftime("%A %b %d") }}</a>
						{% endif %}
					</td>
          {% for trigger in event.triggers %}
              {% if trigger.status == "fired" %}
                <td><font color='green'>Sent</font> @ {{
									trigger.fire_dt.strftime("%b %d, %I:%M %p")
								}}</td>
              {% elif event.status == "pending" %}
                <td><font color='blue'>Pending</font> @ {{
									trigger.fire_dt.strftime("%b %d, %I:%M %p")
								}}</td>
              {% endif %}
						<td>{{trigger.count}}</td>
          {% endfor %}
					{% if event.triggers|length == 1 %}
						<td><hr></td><td><hr></td>
					{% endif %}
					<td>
						<button 
							data-toggle='tooltip'	
              class='ui-button ui-widget ui-corner-all ui-button-icon-only
              delete-btn'
							type="button" 
							id="{{ url_for('notify.cancel_event',evnt_id=event._id) }}" 
							title='Delete this event'
							name="delete-btn">
              <span class="ui-button-icon-primary ui-icon ui-icon-trash"></span>
						</button>
					</td>
				</tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


