  {% extends "views/base.html" %}
  {% block content %} 
	<script type="text/javascript"
					src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js">
	</script>
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/base.js')}}">
	</script>
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/views/event.js')}}">
	</script>
  <script>
    document.write('<style type="text/css">body{display:none}</style>');
    jQuery(function($){
      init();
    });
  </script>
  
	<!-- Countdown Timer -->
  <div class='row' style='padding:20px 0px 10px 0px; text-align:center'>
    <h2>
      <span id='event-header' class='label label-primary'>
        <label id='event-status'>
						{{event.status.title().replace('-',' ')}}
				</label>
        <label id='event-summary'></label>
      </span>
    </h2>
      <p id='scheduled_datetime' style='display:none'>{{ event.event_dt.date() }}</p>
  </div>
	
	<!-- Play Sample -->
	<div class='row' style='padding:0em 0em 3em 0em; text-align:center'>
		<button id='play-sample-btn' class='btn btn-info'>Play Sample</button>
		<audio id="music">
			<source id='audio-sample' name='audio-sample' type='audio/mpeg'>
		</audio>
	</div>
  
  <div class='data-container'>
    <div class='navbar-div'>
      <a class='hover' href="{{ url_for('notify.view_event_list') }}">Notification Events</a> / 
      {{ event.name }}
    </div>
    <table id='show-calls-table' class='table table-hover table-colored'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Block</th>
          <th>Status</th>
          <th>Driver Notes</th>
          <th>Office Notes</th>
          <th>Pickup Date</th>
          <th>Email Status</th>
          <th>Call Status</th>
          <th class='cancel-call-col' style='width:50px'></th>
        </tr>
      </thead>

      <!-- Notifications Rows -->
      <tbody>
      {% for row in notific_list %}
        <tr id='fixme'>
					<td>{{row['results'][0]['account'][0]['name']}}</td>
          <!-- phone -->
          {% for notific in row['results'] %}
            {% if notific['type'] == 'voice' %}
              <td>{{notific.to}}</td>
            {% endif %}
          {% endfor %}
          <!-- email -->
          {% for notific in row['results'] %}
            {% if notific['type'] == 'email' %}
              <td>{{notific.to}}</td>
            {% endif %}
          {% endfor %}
					


          <td>{{row['results'][0]['account'][0]['udf']['block']}}</td>
          <td>{{row['results'][0]['account'][0]['udf']['status']}}</td>
          <td>{{row['results'][0]['account'][0]['udf']['driver_notes']}}</td>
          <td>{{row['results'][0]['account'][0]['udf']['office_notes']}}</td>
          <td>{{row['results'][0]['account'][0]['udf']['pickup_dt'].strftime("%-m/%-d/%Y")}}</td>

          <!-- email status -->
					{% for notific in row['results'] if notific['type'] == 'email' %}
              <td>{{notific['status']}}</td>
					{% endfor %}

					{% for notific in row['results'] if notific['type'] == 'voice' %}
              <td>{{notific['status']}}</td>
					{% endfor %}

          <!-- Delete Button -->
          <td class='cancel-call-col'>
            <button 
              class='delete-btn' 
              type="button" 
              id="fixme" 
              name="delete-btn">
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
    <br><br>
  <div style='text-align:center;'>
		{% for trigger in triggers %}
			<button style='margin:0 auto;'
							class='btn btn-primary'
							name='trigger'
							id='{{trigger['_id']}}'
							type='button' 
							>Fire {{trigger['type']}}</button>
		{% endfor %}
    <button style='margin:0 auto;' class='btn btn-primary' 
						type='button' id='reset-event'>Reset </button>
    <button style='margin:0 auto;' class='btn btn-primary' 
						type='button' id='dump'>Job Info </button>
  </div>
    <br><br>
  {% endblock %}
