  {% extends "views/base.html" %}
  {% block content %} 
	<script type="text/javascript"
					src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js">
	</script>
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/views/event.js')}}">
	</script>
  <script> $(function() {init();}); </script>
  
  <div class='container-fluid border'>
    <div class='data-navbar-div'>
      <a class='hover' href="{{ url_for('notify.view_event_list') }}">Notification Events</a> / 
      {{ event.name }}
    </div>
    <table id='notific-table' class='table table-hover table-colored'>
      <thead>
        <tr>
					<th width='10%'><a class='hover' href='#'>Name</a></th>

					{% for trigger in triggers if trigger['type'] == 'Voice Sms' %}
						<th width='8%'><a class='hover' href='#'>Phone</a></th>
					{% endfor %}

					{% for trigger in triggers if trigger['type'] == 'Email' %}
						<th><a class='hover' href='#'>Email</a></th>
					{% endfor %}

					<th width='5%'><a class='hover' href='#'>Block</a></th>
					<th width='5%'><a class='hover' href='#'>Status</a></th>
					<th><a class='hover' href='#'>Driver Notes</a></th>
					<th><a class='hover' href='#'>Office Notes</a></th>
					<th width='7%'><a class='hover' href='#'>Pickup Date</a></th>

					{% for trigger in triggers if trigger['type'] == 'Email' %}
            <th width='7%' id='{{trigger['_id']}}'><a 
              class='hover'
              href='#'>{{trigger['type']}} Status</a>
            </th>
					{% endfor %}

					{% for trigger in triggers if trigger['type'] == 'Voice Sms' %}
            <th width='7%' id='{{trigger['_id']}}'><a 
              class='hover'
              href='#'>{{trigger['type']}} Status</a>
            </th>
					{% endfor %}

          <th class='cancel-call-col' style='width:50px'></th>
        </tr>
      </thead>

      <!-- Notifications Rows -->
      <tbody id='notific-rows'>

      {% for row in notific_list %}
        <tr id="{{row['_id']['$oid']}}"
						data-tracking="{{row['results']}}">
				<td name='name'>{{row['results'][0]['account'][0]['name']}}</td>

				<!-- phone -->
				{% for trigger in triggers if trigger['type'] == 'Voice Sms' %}
					{% set vars = {'phone':'<hr>'} %}
					{% for notific in row['results'] %}
						{% if notific['type'] == 'voice' or notific['type'] == 'sms' %}
							{% do vars.update({'phone': notific.to}) %}
						{% endif %}
					{% endfor %}
					<td name='phone'>{{ vars['phone'] }}</td>
				{% endfor %}
          
				<!-- email -->
				{% for trigger in triggers if trigger['type'] == 'Email' %}
					{% set vars = {'email': '<hr>'} %}
					{% for notific in row['results'] %}
						{% if notific['type'] == 'email' %}
							{% do vars.update({'email': notific.to}) %}
						{% endif %}
					{% endfor %}
					<td name='email'>{{ vars['email'] }}</td>
				{% endfor %}
					
				<td>{{row['results'][0]['account'][0]['udf']['block']}}</td>
				<td>{{row['results'][0]['account'][0]['udf']['status']}}</td>
				<td name='udf.driver_notes'>{{row['results'][0]['account'][0]['udf']['driver_notes']}}</td>
				<td name='udf.office_notes'>{{row['results'][0]['account'][0]['udf']['office_notes']}}</td>
				<td name='udf.pickup_dt'>{{row['results'][0]['account'][0]['udf']['pickup_dt']}}</td>

        <!-- email status -->
				{% for trigger in triggers if trigger['type'] == 'Email' %}
					{% set status = {'email':'<hr>', '_id':''} %}
					{% for notific in row['results'] if notific['type'] == 'email' %}
							{% do status.update({'email': notific['tracking']['status']}) %}
							{% do status.update({'_id': notific['_id']['$oid']}) %}
					{% endfor %}
					<td id="{{status['_id']}}" name='email_status'>{{ status['email'] }}</td>
				{% endfor %}

				<!-- voice/sms status -->
				{% for trigger in triggers if trigger['type'] == 'Voice Sms' %}
					{% set status = {'phone':'<hr>', '_id':''} %}
					{% for notific in row['results']%}
						{% if notific['type'] == 'voice' or notific['type'] == 'sms' %}
							{% do status.update({'phone': notific['tracking']['status']}) %}
							{% do status.update({'_id': notific['_id']['$oid']}) %}
						{% endif %}
					{% endfor %}
					<td id="{{status['_id']}}" name='voice_sms_status'>{{ status['phone'] }}</td>
				{% endfor %}

				<!-- Delete Button -->
				<td class='cancel-notific'>
					<button 
						data-toggle='tooltip'
            class='ui-button ui-widget ui-corner-all ui-button-icon-only delete-btn'
						type="button" 
						id="{{row['_id']['$oid']}}" 
						name="delete-btn">
            <span class="ui-button-icon-primary ui-icon ui-icon-trash"></span>
					</button>
				</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
	<div style='margin-bottom:15em'></div>
  {% endblock %}
