	{% extends "views/base.html" %}
	{% block content %}  
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/views/login.js')}}">
	</script>
	<script>
		jQuery(function($){
			init();
		});
	</script>

  <div style='width:400px; border:1px solid #bbbbbb; border-radius:7px;
							-webkit-border-radius:7px 7px 7px 7px; padding:0; margin-top:10em;'
				class='container'>
		<div style='border-radius:7px; background-color:#f7f7f7; padding:3.0em'>
			<form id='myform' method=post>
				<div class='form-group' style='margin-bottom:2em'>
					<input style='padding:1.0em' class='form-control input-lg' style='' type='text' id='' placeholder='Username'  name='username' required>
				</div>
				<div class='form-group' style='margin:3em 0em'>
					<input style='padding:1.0em' class='form-control input-lg' style='' title='' placeholder='Password' type='password' name='password' required>
				</div>
				<button 
					class='btn btn-primary' 
					style='font-size:20px; width:100%; padding:0.5em;' 
					type="button" id="submit_btn" name="submit-btn">Sign In
				</button>
			</div>
			</form>
		</div>
	</div>

	{% endblock %}
