	
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/views/new_event.js')}}">
	</script>
  <script> $(function() {new_event_init();}); </script>
  
  <div class='box'>
    <form id='myform' enctype=multipart/form-data method=post>
      <fieldset class='form-fieldset new_event'>
        <legend class='new_event'>Settings</legend>

          <!-- Form Fields -->
          <div class='form-label'>Event Type</div>
          <select name='template_name' class='form-control' id='template-select'>
						<option id='green_goods' value='green_goods'>Green Goods Delivery</option>
						<option id='announcement' value='announcement'>Recorded Voice Announcement</option>
						<option id='bpu' value='bpu'>Bottle Pickup Reminder</option>
          </select>

          <div class='form-label'>Event Name</div>
          <input 
            id='event_name' 
            class='input' 
            name='event_name' 
            type='text' 
            placeholder='Optional'>
          </input>
          
          <div class='form-label'>eTapestry Query</div>
          <input 
            class='input' 
            name='query_name' 
            type='text' 
            placeholder='Type query name in {{etap_query_folder}} folder'>
          </input>

          <div 
            name='delivery_date'
            class='form-label' 
            >Delivery Date
          </div>
          <input 
            class='input' 
            id='delivery_date'
            name='delivery_date'
            type='text' 
            id='gg_datepicker' 
            placeholder='Browse Calendar...'  
            required>
          
          <!-- Special Message Div -->
          <div id='record-audio' style='display:none'>
						<div>
							<label id='record-status'></label>
						</div>
            <button id='call-btn' class='btn btn-info' style='float:right;'>
              Call Me
            </button>
            <span style='overflow:hidden; display:block'>
              <input 
                id='phone-num' class='input' name='phone-num' style='width:98%;' 
                type='text' placeholder='Phone Number'></input>
            </span>
            <audio id="music">
              <source id='audio-source' name='audio-announce' type='audio/mpeg'>
            </audio>
            <div id="audioplayer"  style='display:block'>
              <button id="pButton" class='play' onclick='play()'></button>
              <div id="timeline">    
                <div id="playhead"></div>
              </div>
              <div id='duration'></div>
            </div>
            <div style='display:none'>
              <input id='input-audio-url' name='audio-url'></input>
            </div>
          </div>
          <div id='record-text' style='display:none'>
            <textarea 
              class='form-control' 
              style='margin:1em 0 0.5em 0;' 
              name='message' 
              rows='7' 
              placeholder='Type your announcement' 
              required>
            </textarea>
          </div>
          <!-- End Special Message Div -->
      </fieldset>

      <!--Schedule Section-->
      <fieldset class='form-fieldset new_event'>
        <legend class='new_event'>Schedule</legend>
        
        <div class='form-label'>Date</div>
        <input
          id='notific_date'
          name='notific_date'
          type='text'
          class='input' 
          placeholder='Browse Calendar...'
          required
        >
        <div class='form-label'>Time</div>
        <input
          name='notific_time'
          type='time'
          class='input' 
          title="When the job will begin (3pm, 10:30am)" 
          required
        >
      </fieldset>
    </form>
  </div>
