  {% extends "views/base.html" %}
  {% block content %}  
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/views/routing.js')}}">
	</script>
  <script> $(function() {init();}); </script>
  
  <div class='container-fluid border'>
    <div class='data-navbar-div'>
			Routing
		</div>
    <table id='routing-tbl' class='table table-hover table-colored'>
      <thead>
        <tr>
					<th width="10%">Date</th>
					<th width="5%">Block</th>
          <th width="4%">Orders</th>
          <th width="4%">Size</th>
          <th width="4%">New</th>
					<th width="10%">Depot</td>
          <th width="8%">Driver</th>
					<th width="5%">Status</th>
          <th width="5%">Length</th>
          <th width="5%">Command</th>
          <th width="5%">Sheet</th>
          <th width="7%">Warnings</th>
					<th style='display:none'></th>
        </tr>
      </thead>
      <tbody>
			<!-- Invisible template row for copying Depots and Drivers -->
			<tr style='display:none'>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td name='depots'>
					<select name='depots' class='form-control'>
						{% for depot in depots %}
							<option selected="selected">{{depot.name}}</option>
							<option>{{depot.name}}</option>
						{% endfor %}
					</select>
				</td>
				<td name='drivers'>
					<select name='drivers' class='form-control'>
						{% for driver in drivers %}
						<option value='{{ driver.name }}'>{{ driver.name }}</option>
						{% endfor %}
					</select>
				</td>
				<td></td><td></td><td></td><td></td><td></td>
			</tr>
      {% for route in routes %}
        <tr id="{{route['_id']['$oid']|string}}">
          <td>{{ route.date }}</td>
          <td>{{ route.block }}</td>
          <td>{{ route.orders }}</td>
          <td>{{ route.block_size }}</td>
          <td>{{ route.dropoffs }}</td>
					<td>
            <select name='depots' class='form-control'>
              {% for depot in depots %}
                {% if depot.name == route.depot.name %}
                  <option selected="selected">{{depot.name}}</option>
                {% else %}
                  <option>{{depot.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
          <td>
            <select name='drivers' class='form-control'>
              {% for driver in drivers %}
              <option value='{{ driver.name }}'>{{ driver.name }}</option>
              {% endfor %}
            </select>
          </td>
          <td name="status">{{ route.status }}</td>
          <td>
            {% if route.duration is defined %}
              {{ (route.duration/60)|round(0,'floor')|int }} hrs {{ route.duration % 60 }} min
            {% else %}
              -- : --
            {% endif %}
          </td>
          <td>
						<button 
              name='route_btn'
							href="{{url_for('routing._build_route', route_id=route['_id']['$oid'], _external=True)}}" 
              data-route="{{route['json']}}"
							class='btn btn-outline-primary'
							>Route
						</button>
          </td>
          <td>
						<button 
							name='view_btn'
							href="https://docs.google.com/spreadsheets/d/{{route.ss_id}}"
							class='btn btn-outline-primary'
							>View
						</button>
          </td>
          <td name='warnings'>
						<button
              name='warnings_btn'
							class='btn btn-outline-primary'
							>Warnings
						</button>
          </td>
        </tr>

      {% endfor %}
      </tbody>
    </table>
    <div class='loader-div'>
      <button class="btn btn-info loader">
        <span class="fa fa-refresh loader-animate"></span>
				<label style='margin-bottom:0; margin-left:5px'>Analyzing Routes...</label>
			</button>
    </div>
  </div>

  <!-- Geocode Warnings Dialog -->
  <div style='margin-top:15em' id='warnings_modal' class='modal fade'>
    <div class='modal-dialog modal-lg'>
      <div class="modal-content">
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Geocode Warnings/Errors</h4>
        </div>
        <div class='modal-body'>
          <p></p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  {% endblock %}
