  {% extends "views/base.html" %}
  {% block content %}  
	<script type='text/javascript' 
					src="{{url_for('static', filename='js/views/routing.js')}}">
	</script>
  <script> $(function() {init();}); </script>
  
  <div class='container-fluid border'>
    <div class='data-navbar-div'>
			Routing
		</div>
    <table id='routing-tbl' class='table table-hover table-colored'>
      <thead>
        <tr>
					<th width="8%">Date</th>
					<th width="15%">Block</th>
          <th width="5%">Orders</th>
          <th width="5%">Size</th>
          <th width="5%">New</th>
					<th width="10%">Depot</td>
          <th width="8%">Driver</th>
					<th style='width:120px;'>Status</th>
          <th style='width:130px'>Length</th>
          <th width="6%">Warnings</th>
          <th width="10%">Command</th>
          <th width="5%">Sheet</th>
        </tr>
      </thead>
      <tbody>
			<!-- Invisible template row for copying Depots and Drivers -->
			<tr style='display:none'>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td name='depots'>
					<select name='depots' class='form-control'>
						{% for depot in depots %}
							<option selected="selected">{{depot.name}}</option>
							<option>{{depot.name}}</option>
						{% endfor %}
					</select>
				</td>
				<td name='drivers'>
					<select name='drivers' class='form-control'>
						{% for driver in drivers %}
						<option value='{{ driver.name }}'>{{ driver.name }}</option>
						{% endfor %}
					</select>
				</td>
				<td></td><td></td><td></td><td></td><td></td>
			</tr>
      {% for route in routes %}
        <tr id="{{route._id|string}}">
          <td>{{ route.date.strftime("%A %b %d") }}</td>
          <td>{{ route.block }}</td>
          <td>{{ route.orders }}</td>
          <td>{{ route.block_size }}</td>
          <td>{{ route.dropoffs }}</td>
					<td>
            <select name='depots' class='form-control'>
              {% for depot in depots %}
                {% if depot.name == route.depot.name %}
                  <option selected="selected">{{depot.name}}</option>
                {% else %}
                  <option>{{depot.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
          <td>
            <select name='drivers' class='form-control'>
              {% for driver in drivers %}
              <option value='{{ driver.name }}'>{{ driver.name }}</option>
              {% endfor %}
            </select>
          </td>
          <td>{{ route.status }}</td>
          <td>
            {% if route.duration is defined %}
              {{ (route.duration/60)|round(0,'floor')|int }} hrs {{ route.duration % 60 }} min
            {% else %}
              -- : --
            {% endif %}
          </td>
          <td name='warnings'>
            <a class='hover'
              onclick="toggleGeocodeWarnings(event)">{{ route.geocode_warnings|length }}</a>
          </td>
          <td>
						<button 
							action="{{url_for('routing._build_route', route_id=route['_id'])}}" 
							class='btn btn-outline-primary'
							>Build Route
						</button>
          </td>
          <td>
            {% if route.ss_id is defined %}
              <a class='hover'
                 href="https://docs.google.com/spreadsheets/d/{{route.ss_id}}">View</a>
            {% endif %}
          </td>
        </tr>
        <tr><td style='padding:0;' colspan="12"><p style='padding:15px;'>
          {% if route.geocode_warnings is defined %}
            {% for warning in route.geocode_warnings %}
              {{ warning }} 
              <br><br>
            {% endfor %}
          {% endif %}
        </p></td></tr>
      {% endfor %}
      </tbody>
    </table>
		<div style='display:none' class='loader-div'>
			<button class="btn btn-info loader"><span class="fa fa-refresh loader-animate"></span>  Analyzing Routes...</button>
		</div>
	</div>


  {% endblock %}


