  {% extends "email/base.html" %}
  {% block content %}  
    <tr>
      <td>
        Hi {{ data['account']['name'] }},
      </td>
    </tr>
    <tr>
      <td>
        We came by for a pickup on 
        <b>{{ data['entry']['date'] }}</b> 
        and saw that you didn't have any empties.
      </td>
    </tr>
    <tr>
      <td>
        {% if data['entry']['next_pickup'] %}
          Your next scheduled pickup is <b>{{ data['entry']['next_pickup'] }}</b>.
        {% endif %}
      </td>
    </tr>
  {% endblock %}
