{% extends "views/base.html" %}
{% block content %} 

<script src="{{url_for("main.static", filename="js/strftime.js")}}"></script>
<script type="text/javascript" src="{{url_for("booker.static", filename="js/booker.js")}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initGoogleMap" async defer></script> 
<script> 
  document.write("<style type='text/css'> body{display:none}</style>");
  jQuery(function($){ bookerInit(); $("body").css("display","block"); });
</script>

<div class="container-fluid" id="search_ctnr" style="text-align:center">


  <!--RESULTS/MAP PANE-->
  <div class="card-deck mt-5">
    <div class="card mt-0 mr-1" style="max-width:300px">
      <div class="card-header">
        Search
      </div>
      <div class="">
        <!--SEARCH-->
        <form id="main_form" name="main_form" onsubmit="return false;">  
          <div class="card-block">
            <div class="form-group row ml-2">
              <input id="search_box" class="form-control col-8 mr-2" name="search_box" type="text" placeholder="Account"
              onkeydown="searchKeyPress(event)" autocomplete="off" autofocus> 
              <button class="btn btn-secondary" type="button" id="find_btn" name="find_btn" style=""
              onclick="validateSearch(this.form)">Go</button>
            </div>
            <div class="form-group row ml-2">
              <input id="search_box" class="form-control col-8 mr-2" name="search_box" type="text" placeholder="Block"
              onkeydown="searchKeyPress(event)" autocomplete="off" autofocus> 
              <button class="btn btn-secondary" type="button" id="find_btn" name="find_btn" style=""
              onclick="validateSearch(this.form)">Go</button>
            </div>
            <div class="row ml-2">
              <div class="col-5"></div>
              <button class="btn btn-primary" type="submit">Make Booking</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card ml-0" style="height:100%;">
      <div class="card-header">
        Map
      </div>
      <div class="card-block">
        <div style="height:460px" id="map"></div>
      </div>
    </div>
  </div>

  <table id="results2" class="table table-hover table-colored" hidden>
    <thead>
      <th style="background-color:#f7f7f7">Select</th>
      <th style="background-color:#f7f7f7">Date</th>
      <th style="background-color:#f7f7f7">Block</th>
      <th style="background-color:#f7f7f7">Booked</th>
      <th style="background-color:#f7f7f7">Distance</th>
    </thead>
    <tbody>
    </tbody>
  </table>

  <!--LOADER-->
  <div style="background-color:white" id="search-loader" class="loader-div">
    <button class="btn btn-info loader">
      <span class="fa fa-refresh loader-animate"></span>
      <label style="margin-bottom:0; margin-left:5px">Searching</label>
    </button>
  </div>
</div>

<!-- Booking Confirmation Modal -->
<div id="booking_options" style="display:none"> 
  <form class="form-check" style="text-align:left" id="booking_form">
    <div id="append_route" style="display:none">
      <label>This Block has already been routed. Booking an account will add
      it onto the route.</label>
    </div>
    <div id="enter_aid" style="display:none">
      <label for="aid">Account number</label>
      <input id="aid" name="aid" class="input" type="text">
    </div>
    <div id="acct_info" style="margin:0; padding:0">
      <div id="routed_warning" style="display:none" class="alert alert-warning" role="alert">
      </div>
      <div><label name="name"></label></div>
      <div><label name="email"></label></div>
      <div><label name="block"></label></div>
      <div><label name="date"></label></div>
      <hr></hr>
      <div class="form-group">
        <label for="driver_notes">Enter any driver instructions:</label>
        <textarea class="form-control" id="driver_notes" rows="5"></textarea>
      </div>
      <div style="text-align:right">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" id="send_email_cb" value="option1" checked
          >Send email confirmation
        </label>
      </div>
    </div>
  </form>
</div>

{% endblock %}
