	{% extends "views/base.html" %}
	{% block content %} 
  <script src="{{url_for("main.static", filename="js/strftime.js")}}"></script>
	<script type="text/javascript" 
					src="{{url_for("booker.static", filename="js/booker.js")}}">
	</script>
  <script> $(function() {
      booker_init();
    }); </script>

  <div class="container-fluid" id="search_ctnr" style="text-align:center">
    <!-- Search -->
    <div style="margin: 4em 0">
      <form style="width:100%; margin:0 auto;" onsubmit="return false;" id="main_form" name="main_form">  
        <div id="search_row">
          <input id="search_box" class="input booker" name="search_box" type="text"
          onkeydown="searchKeyPress(event)" autocomplete="off" autofocus> 
          <button class="btn btn-secondary" type="button" id="find_btn" name="find_btn"
          style="font-size:20px;" onclick="validateSearch(this.form)">Search</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Search results -->
  <div style="max-width:1600px; margin-bottom:12em" class="container-fluid">
    <table id="results" class="table table-hover table-colored"
    style="background-color:white; display:none">
      <thead>
        <th style="background-color:#f7f7f7">Date</th>
        <th style="background-color:#f7f7f7">Route</th>
        <th style="background-color:#f7f7f7">Booked</th>
        <th style="background-color:#f7f7f7">Max</th>
        <th style="background-color:#f7f7f7">Distance</th>
        <th style="width:20%; background-color:#f7f7f7">Postal</th>
        <th style="width:20%; background-color:#f7f7f7">Area</th>
        <th style="width:10%; background-color:#f7f7f7"></th>
      </thead>
      <tbody>
      </tbody>
		</table>
    <div style="background-color:white" id="search-loader" class="loader-div">
      <button class="btn btn-info loader">
        <span class="fa fa-refresh loader-animate"></span>
				<label style="margin-bottom:0; margin-left:5px">Searching</label>
			</button>
    </div>
	</div>

  <!-- Booking Confirmation Modal -->
  <div id="booking_options" style="display:none"> 
    <form class="form-check" style="text-align:left" id="booking_form">
      <div id="append_route" style="display:none">
        <label>This Block has already been routed. Booking an account will add
        it onto the route.</label>
      </div>
      <div id="enter_aid" style="display:none">
        <label for="aid">Account number</label>
        <input id="aid" name="aid" class="input" type="text">
      </div>
      <div id="acct_info" style="margin:0; padding:0">
        <div id="routed_warning" style="display:none" class="alert alert-warning" role="alert">
        </div>
        <div><label name="name"></label></div>
        <div><label name="email"></label></div>
        <div><label name="block"></label></div>
        <div><label name="date"></label></div>
        <hr></hr>
        <div class="form-group">
          <label for="driver_notes">Enter any driver instructions:</label>
          <textarea class="form-control"
                    id="driver_notes" 
                    name="driver_notes" 
                    rows="5"
          ></textarea>
        </div>
        <div style="text-align:right">
          <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="exampleRadios" id="send_email_cb" value="option1" checked>
                Send email confirmation</label>
        </div>
      </div>

      <!--<div id="booker-loader" style="margin:0; background-color:white; text-align:center" class="loader-div">
        <button class="btn btn-info loader">
          <span class="fa fa-refresh loader-animate"></span>
          <label style="margin-bottom:0; margin-left:5px">Booking</label>
        </button>
      </div>-->
    </form>
  </div>

  {% endblock %}
