  {% extends "email_base.html" %}
  {% block content %}  
    <tr>
      <td>
        Hi {{ args.name }},
      </td>
    </tr>
    <tr>
      <td>
        Thank you for your donation of <b>{{ args.last_amount }}</b> on <b>{{ args.last_date }}</b>.
      </td>
    </tr>
    <tr>
      <td>
        <table style='font-size:12pt;' cellpadding='5'>
          {% for gift in args.gift_history %}
            <tr>
              <td>
                {{ gift.date }}
              </td>
              <td>
                {{ gift.amount }}
              </td>
            </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <td>
        {% if args.next_pickup %}
          Your next pickup is scheduled for <b>{{ args.next_pickup }}</b>.
        {% endif %}
      </td>
    </tr>
  {% endblock %}
