  {% extends "email_base.html" %}
  {% block content %}  
    <tr>
      <td>
        Hi {{ args.name }},
      </td>
    </tr>
    <tr>
      <td>
        You should have had your collection supplies dropped off on {{ args.date }}, at your address {{ args.address }}, {{ args.postal }}.
      </td>
    </tr>
    <tr>
      <td>
        You should be all set! Let us know if you have any questions.
      </td>
    </tr>
    <tr>
      <td>
        {% if args.next_pickup %}
        Your next pickup is scheduled for <b>{{ args.next_pickup }}</b>.
        {% endif %}
      </td>
    </tr>
  {% endblock %}
