  {% extends "email_base.html" %}
  {% block content %}  
    <tr>
      <td>
        Hi {{ name }},
      </td>
    </tr>
    <tr>
      <td>
        Thank you for your donation of <b>{{ last_amount }}</b> on <b>{{ last_date }}</b>.
      </td>
    </tr>
    <tr>
      <td>
        <table style='font-size:12pt;' cellpadding='5'>
          {% for gift in gift_history %}
            <tr>
              <td>
                {{ gift.date }}
              </td>
              <td>
                {{ gift.amount }}
              </td>
            </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <td>
        Your next pickup is scheduled for <b>{{ next_pickup }}</b>.
      </td>
    </tr>
  {% endblock %}
