  {% extends "email_base.html" %}
  {% block content %}  
    <tr>
      <td>
      <p>Hi, your upcoming Empties to Winn pickup is</p>
      <p><h3>{{ next_pickup }}</h3></p>
      <p>
        Your green bags can be placed at your front entrance, visible from the street, by 8am. 
        Please keep each bag under 30lbs.  
        Extra glass can be left in cases to the side.
      </p>
      <p><a style="!STYLE!" href='!HREF!'>Click here to cancel your pickup</a></p>
      </td>
    </tr>
  {% endblock %}
