{% if args.job.template == "etw_reminder" %}
  Hi, this is a friendly reminder that your Empties to WINN {{ args.msg.imported.type }} is {{ args.msg.imported.event_date }}.
  {% if msg.imported.status == "Dropoff" %}  
    If you have any empties you can leave them out by 8am.
  {% elif msg.imported.status == "Active" or msg.imported.status == "One-time" %}
    Please have your empties out by 8am. Glass can be separated into cases.
  {% elif msg.imported.status == "Cancelling" %}
    A driver will be by to collect your bag buddy frame. Thanks for your past support.
  {% endif %}
{% elif args.job.remplate == "gg_delivery"%}
  Hi, this is a friendly reminder that your green goods delivery will be on {{ args.msg.imported.event_date }}.
  Your order total is {{ msg.imported.price }}.
{% elif job.template == "announce_text %}
  {{ job.message }}
{% endif %}

{% if args.medium == "voice" and args.answered_by == "human" %}
  To repeat this message press 1.
{% endif %}

{% if args.job.template == "etw_reminder" and args.msg.imported.status == "Active" %}
  If you do not need a pickup, press 2.
{% endif %}
