Hi {{account['name'].split(' ')[0]}}, 
  this is a reminder that your Vecova  
{% if account['udf']['status'] == "Dropoff" %}
  dropoff  
{% else %}
  pickup  
{% endif %}

is {{account['udf']['pickup_dt']}}, between 9am-4pm.  

{% if account['udf']['status'] == "Active" or account['udf']['status'] == "One-time" %}
  Reply with keywords SKIP to opt out or INSTRUCTIONS to leave a note for our driver.  
{% elif account['udf']['status'] == "Dropoff" %}

If you have any empties you can place them by your front entrance.  
Reply with keyword INSTRUCTIONS to leave a note for our driver.  

{% elif account['udf']['status'] == "Cancelling" %}
  A driver will be by to collect your bag buddy frame. Thanks for your past support.
{% endif %}
