Hi {{ account['name'].split(' ')[0] }}, 

this is a reminder that your Vecova 

{% if account['udf']['status'] == "Dropoff" %}

	dropoff 

{% else %}

	pickup 

{% endif %}

is {{ account['udf']['pickup_dt'] }}. 

{% if account['udf']['status'] == "Dropoff" %}

	If you have any empties you can leave them out by 8am.

{% elif account['udf']['status'] == "Active" or account['udf']['status'] == "One-time" %}

	Please have your empties out by 8am. Glass can be separated.

{% elif account['udf']['status'] == "Cancelling" %}

	A driver will be by to collect your bag buddy frame. Thanks for your past support.

{% endif %}

Reply with keyword INSTRUCTIONS to leave a note for our driver.

{% if account['udf']['status'] == "Active" or account['udf']['status'] == "One-time" %}

	Or SKIP to opt out of this pickup.

{% endif %}
