{% if reminder['voice']['digit'] == 2 %}
    Your pickup has been unscheduled. Your next pickup will be
    {{ reminder['custom']['future_pickup_dt'] }}.
    Thank you.
{% else %}

    Hi, this is a friendly reminder that your Empties to WINN 

    {% if reminder['custom']['status'] == "Dropoff" %}
        dropoff 
    {% else %}
        pickup 
    {% endif %}

    is {{ reminder['event_dt'] }}. 

    {% if reminder['custom']['status'] == "Dropoff" %}
        If you have any empties you can leave them out by 8am.
    {% elif reminder['custom']['status'] == "Active" or reminder['custom']['status'] == "One-time" %}
        Please have your empties out by 8am. Glass can be separated into cases.
    {% elif reminder['custom']['status'] == "Cancelling" %}
        A driver will be by to collect your bag buddy frame. Thanks for your past support.
    {% endif %}

    {% if reminder['voice']['answered_by'] == "human" %}
        To repeat this message, press 1.
    {% endif %}

    {% if reminder['voice']['answered_by'] == "human" and reminder['custom']['status'] == "Active" %}
        If you do not need a pickup, press 2.
    {% endif %}
{% endif %}
