  {% extends "receipts/vec/base.html" %}
  {% block content %}  
    <tr>
      <td>
        Hi {{ account['name'] }},
      </td>
    </tr>
    <tr>
      <td>
        Thank you for your donation of 
        <b>${{ entry['amount'] }}</b> 
        on
        <b>{{ entry['date'] }}</b>.
      </td>
    </tr>
    <tr>
      <td>
        <table style='font-size:12pt;' cellpadding='5'>
          {% for gift in history %}
            {% if loop.index0 < 6 %}
              <tr>
                <td>
                  {{ gift.date }}
                </td>
                <td>
                  ${{ gift.amount }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <td>
        {% if entry['next_pickup'] is defined %}
          Your next pickup is scheduled for 
          <b>{{ entry['next_pickup'] }}</b>.
					{#{% if data['account']['phones'] is defined %}#}
					{#  {% for phone in data['account']['phones'] %} #}
					{#	  {% if phone['type'] == 'Mobile' %} #}
					{# TODO: Promote SMS number for querying pickup schedule #}
					{# New: You can now text the keyword 'SCHEDULE' to 587-401-CANS to get your next pickup date! #}
					{#		  {% endif %} #}
					{# {% endfor %} #}
					{#{% endif %} #}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        {% if entry['status'] == "Call-in" %}
          Please call us when you need your next pickup at 
          <b>403-267-1240</b>.
        {% endif %}
      </td>
    </tr>
  {% endblock %}
