  {% extends "receipts/vec/base.html" %}
  {% block content %}  
    <tr>
      <td>Hi {{ account['name'] }},</td>
    </tr>
    <tr>
      <td>
        You should have had your collection supplies dropped off on 
        {{ entry['date'] }} at 
        {{ account['address'] }}, 
        {{ account['postal'] }}.
      </td>
    </tr>
    {% if entry['amount'] > 0 %}
    <tr>
      <td>Your donation was estimated at ${{entry['amount']}}.</td>
    </tr>
    {% endif %}
    <tr>
      <td>You should be all set! Let us know if you have any questions.</td>
    </tr>
    <tr>
      <td>
        {% if entry['next_pickup'] %}
        Your next pickup is scheduled for 
        <b>{{ entry['next_pickup'] }}</b>.
        {% endif %}
      </td>
    </tr>
  {% endblock %}
