{% extends "views/base.html" %}
{% block content %}

<script type="text/javascript" src="{{url_for("alice.static", filename="js/alice.js")}}"></script>
<script>
  document.write("<style type='text/css'> body{display:none}</style>");
  jQuery(function($){ initAlicePane(); $("body").css("display","block"); });
</script>

<div class="container">
  <!-- Chatlogs -->
  <div class="card-header blue">
      <label style="font-weight:400; font-size:1.5rem">SMS Conversations</label>
  </div>
  <div id="convo_list" class="list-group"></div>
  <div class="mt-2" hidden>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div><!--End Container-->

<!-- Chat List Item -->
<div id="chat_item" class="chat-item justify-content-between" hidden>
  <div class="card chat-card list-group-item list-group-item-action">
    <div class="card-block col-10 pl-0" style="padding-bottom:0; padding-top:0">
      <div class="mb-1">
        <h4 style="margin:0" class="card-title"></h4>
      </div>
      <div class="">
        <span class="card-text text-muted">Message: "</span>
        <span id="last_msg" class="card-text text-muted"></span>"
      </div>
      <div class="mt-1">
        <small class="card-text text-muted">Received </small>
        <small id="msg_date" class="card-text text-muted"></small>
      </div>
    </div>
    <h5 class="col-1 mb-0 text-right">
        <span class="badge badge-default"></span>
    </h5>
    <h5 class="col-1 mb-0 text-right">
      <span id="n_msg" class="badge badge-default badge-pill"></span>
    </h5>
  </div>
</div>

{% include "views/chat.html" %}

{% endblock %}
