{% extends "views/base.html" %}

{% block postlibs %}
  <script type="text/javascript" src="{{url_for("alice.static",filename="js/alice.js")}}"></script>
  <script> jQuery(function($){ initAlicePane();}); </script>
{% endblock %}

{% block content %}
  <div class="row" style="background-color:inherit">
    <div class="col text-right my-auto">
      <!--Filter menu-->
      <div class="dropdown">
        <span id="filterLbl">Showing All</span>
        <button type="button" id="filterBtn" class="btn btn-outline-secondary dropdown-toggle btn-sm fa fa-filter" data-toggle="dropdown"
        style="border:none; color:#6a6c6f"></button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterBtn">
          <a class="dropdown-item" id="fltr-all" href="#">All</a>
          <a class="dropdown-item" id="fltr-read" href="#">Read</a>
          <a class="dropdown-item" id="fltr-unread" href="#">Unread</a>
          <a class="dropdown-item" id="fltr-unreg" href="#">Unregistered</a>
        </div>
      </div>
    </div>
  </div>
  <div id="convo_list" style="height:2500px"></div>
  <!--Page Navigation-->
  <div class="mt-2" hidden>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Chat List Item -->
  <div id="chat-item" class="card card-inverse card-info chat-card" hidden>
    <div class="card-header" style="background-color:#1c93bd">
      <div class="row">
        <div class="col-10">
          <h5 style="margin:0" class="chat-title"></h5>
        </div>
        <div class="col-2 text-right my-auto">
          <span id="unread" class="badge badge-info pull-right"
          style="color:white; font-weight:500;">UNREAD</span>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="message my-3" id="last_user_msg"></div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-6">
          <div class="time">
            <i class="fa fa-clock-o mr-1"></i>
            <small id="last_msg_dt" class="card-text" style="color:white"></small>
          </div>
        </div>
        <div class="col-6">
          <div class="time text-right">
            <i class="fa fa-clock-o mr-1"></i>
            <small id="last_user_msg_dt" class="card-text" style="color:white"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include "views/chat.html" %}
{% endblock %}

