  {% extends "email/wsf/base.html" %}
  {% block content %}  
    <tr>
      <td>
        Hi {{ account['name'] }},
      </td>
    </tr>
    <tr>
      <td>
        We came by for a pickup on 
        <b>{{ entry['date'] }}</b> 
        and saw that you didn't have any empties.
      </td>
    </tr>
    <tr>
      <td>
        {% if entry['next_pickup'] %}
          Your next scheduled pickup is <b>{{ entry['next_pickup'] }}</b>.
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        {% if entry['status'] == "Call-in" %}
          Please call us when you need your next pickup at 
          <b>1-888-YOU-WINN</b> (968-9466).
        {% endif %}
      </td>
    </tr>
  {% endblock %}
