  {% extends "email/vec/base.html" %}
  {% block content %}  
    <tr>
      <td>
        Hi {{ data['account']['name'] }},
      </td>
    </tr>
    <tr>
      <td>
        Thank you for your donation of 
        <b>${{ data['entry']['amount'] }}</b> 
        on
        <b>{{ data['entry']['date'] }}</b>.
      </td>
    </tr>
    <tr>
      <td>
        <table style='font-size:12pt;' cellpadding='5'>
          {% for gift in data['account']['gift_history'] %}
            {% if loop.index0 < 6 %}
              <tr>
                <td>
                  {{ gift.date }}
                </td>
                <td>
                  ${{ gift.amount }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <td>
        {% if data['entry']['next_pickup'] is defined %}
          Your next pickup is scheduled for 
          <b>{{ data['entry']['next_pickup'] }}</b>
          .

					{% for phone in data['account']['phones'] %}
						{% if phone['type'] == 'Mobile' %}
							{# TODO: Promote SMS number for querying pickup schedule #}
							{# New: You can now text the keyword 'SCHEDULE' to 587-401-CANS to get your next pickup date! #}
						{% endif %}
					{% endfor %}

        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        {% if data['entry']['status'] == "Call-in" %}
          Please call us when you need your next pickup at 
          <b>403-267-1240</b>.
        {% endif %}
      </td>
    </tr>
  {% endblock %}
