  {% extends "email/vec/base.html" %}
  {% block content %}
    <tr>
      <td>
        <p>
          Hi {{ data['account']['name'] }},
        </p>
     
        {% if data['status'] == "Cancelling" %}
          <p>
            This is a reminder that a driver will be by on 
            <b>{{ data['event_date'] }}</b>
            to collect your Bag Buddy stand.
          </p>
        {% elif data['status'] == "Active" or data['status'] == "Call-in" or
        data['status'] == "One-time" %}
          <p>
            Your upcoming Bottle Service pickup is 
            <b>{{ data['event_date'] }}</b>.
          </p>
          <p>
            Your bags can be placed at your front entrance, visible from 
            the street, by 8am. 
            Please keep each bag under 30lbs.  
            Extra glass can be left in cases to the side.
          </p>
        {% elif data['status'] == "Dropoff"%}
          <p>
            This is a reminder that a driver will be by on 
            <b>{{ data['event_date'] }}</b>
            to dropoff your Bag Buddy and collection bags. 
            You do not need to be home. 
            If you have empties, you can label them <b>'Vecova'</b> and place them 
            at your front entrance by 8am.
          </p>
        {% endif %}
      </td>
    </tr>
    {% if data['status'] != "Dropoff" and data['status'] != "Cancelling" %}
    <tr>
      <td style='text-align:center;'>
        <a style="color:#ffffff!important; display:inline-block; font-weight:500; font-size:16px; 
        line-height:42px; font-family:'Helvetica',Arial,sans-serif; width:auto; white-space:nowrap; min-height:42px; 
        margin-top:12px; margin-bottom:12px; padding-top:0px; padding-bottom:0px; padding-left:22px; padding-right:22px;
        text-decoration:none; text-align:center; border:0; border-radius:3px; vertical-align:top; background-color:#337ab7!important" 
        href= {{ data['cancel_pickup_url'] }} >Click here to cancel your pickup</a>
      </td>
    </tr>
    {% endif %}
  {% endblock %}
