  {% extends "email/vec/base.html" %}
  {% block content %}  
		{% if data["status"] == "Dropoff" and data["name_format"] == "Individual" %}
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				<p>Hi {{ data['first_name'] }}, </p>
				<p>Thanks for signing up with Vecova Bottle Pickup service.</p>
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Dropoff Date: {{ data['dropoff_date'] }} 
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Address: {{ data['address'] }}, {{ data['postal'] }}
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Please let us know if the address above is incorrect.
				We'll leave you a Bag Buddy stand and Vecova bags. You do not need to be home. 
				If you have empties, you can label them <b>'Vecova'</b> and place them at your front entrance by 8am.
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Residential pickups are scheduled every 10 weeks. 
				We provide email/voice reminders and leave you a collection slip for your records.
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				We hope you enjoy the service.
			</div>
		{% elif data["status"] == "Dropoff" and data["name_format"] == "Business" %}
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				<p>Hi {{ data['contact_person'] }}, </p>
				<p>Thanks for signing up with Vecova Bottle Pickup service.</p>
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Dropoff Date: {{ data['dropoff_date'] }} 
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Address: {{ data['address'] }}, {{ data['postal'] }}
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				We'll come by on that date and dropoff your collection containers and Vecova bags.
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				We hope you enjoy the service.
			</div>
		{% elif data["status"] == "One-time" %}
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				<p>Hi {{ data['first_name'] }}, </p>
				<p>Thanks for signing up with Vecova Bottle Pickup service.</p>
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Pickup Date: {{ data['dropoff_date'] }} 
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Address: {{ data['address'] }}, {{ data['postal'] }}
			</div>
			<div style='font-size:12pt; margin: 1.0em 0.5em'>
				Please let us know if the address above is incorrect.
				We'll come by and pick up your empties between 8am-4pm.
				Please have your empties bagged or boxed and placed by your front entrance if possible.
			</div>
		{% endif %}
{% endblock %}
