

.form-btn {
  border-radius:3px; 
  -webkit-border-radius:3px; 
  -moz-border-radius: 3px; 
  border:1px solid black; 
  font-size:14px;
  background:#0769AD;
  color:white;
}

.form-btn.green {
  background:#6cc644; 
  border:1px solid grey; 
}

.form-btn.green:hover {
  background:#89D169;
}

.form-btn:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background:#3987BD;
  color:white;
}

.form-btn:active {
  background:#FFFFFF;
  color:black;
}

legend.new_event {
  text-align: left !important;
  width:auto;
  padding:0 10px;
  margin:0px 0px 0px 0px;
  /*border-bottom:none;*/
}

fieldset.new_event {
  margin: 1em;
  padding: 1em;
  border: 1px solid #cccccc;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  text-align: left;
}

textarea.special-msg {
  width: 100%;
  max-width: 300px;
  height: 50px;
}

.box {
  background-color: #f7f7f7;
  padding: 2em;
  z-index: 20;
  /*margin: auto 5em;*/
  border: 1px solid #cccccc;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.input{
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;
  border-radius: 3px; 
  font-size: 15px;
  padding: 5px;
  border: 1px solid #b9bdc1;
  width: 100%;
  /*max-width: 400px;*/
}

#audioplayer{
/* Original: 480px x 60px */
  border-radius:3px; 
  -webkit-border-radius:3px; 
  -moz-border-radius: 3px; 
  max-width: 350px;
  background: white;
  height: 20px;
  margin: 10px auto auto auto;
  border: 1px solid gray;
}

#pButton{
/* Original: 60px x 60px */
  height:20px; 
  width: 20px;
  border: none;
  margin: 0px 0px 0px 0px;
  background-size: 65% 65%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline:none;
}

/* STORE THESE ON SERVER */
.play{background: url('http://www.alexkatz.me/codepen/images/play.png') ;}
.pause{background: url('http://www.alexkatz.me/codepen/images/pause.png') ;}

#duration {
  font-size:10px;
  line-height:20px;
  width:35px; 
  height:20px; 
  float:right; 
  color:gray; 
 /* margin:0px 5px 0px 0px;
  padding:4px 0px 0px 0px;*/
}

#timeline{
/* Original: 400px x 20px */
  width: 80%;
  height: 5px;
  margin-top: 7px;
  float: left;
  border-radius: 15px;
  background: rgba(0,0,0,.3);
  
}
#playhead{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: -2.5px;
  background: rgba(0, 0, 0,1);
}

#record-status {
  font-size: 14px;
  color: #2b547e;
  text-align: center;
  padding:0.5em;
}
