

.form-btn {
  border-radius:3px; 
  -webkit-border-radius:3px; 
  -moz-border-radius: 3px; 
  border:1px solid black; 
  font-size:14px;
  background:#0769AD;
  color:white;
}

.form-btn.green {
  background:#6cc644; 
  border:1px solid grey; 
}

.form-btn.green:hover {
  background:#89D169;
}

.form-btn:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background:#3987BD;
  color:white;
}

.form-btn:active {
  background:#FFFFFF;
  color:black;
}

legend.new_event {
  text-align: left !important;
  width:auto;
  padding:0 10px;
  margin:0px 0px 0px 0px;
  /*border-bottom:none;*/
}

fieldset.new_event {
  margin: 1em;
  padding: 1em 2em;
  border: 1px solid #cccccc;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  text-align: left;
}


.box {
  padding: 0 2em;
  z-index: 20;
  margin: auto 7.5em;
}

.input{
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;
  border-radius: 3px; 
  font-size: 15px;
  padding: 5px;
  border: 1px solid #b9bdc1;
  width: 100%;
  /*max-width: 400px;*/
}

.audioplayer{
  width:315px;
  margin-top: 2em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25em; 
  display:block;
  text-align:center; 
  border:1px solid gray; 
  -webkit-border-radius:3px; 
  -moz-border-radius: 3px; 
  background-color:white
}

.record_status {
  font-size: 16px;
  color: #2b547e;
  text-align: center;
  padding:0.5em;
}
