  {% extends "email/wsf/base.html" %}
  {% block content %}  
    <tr>
      <td>
        Hi {{ account['name'] }},
      </td>
    </tr>
    <tr>
      <td>
        Thank you for your donation of 
        <b>${{ entry['amount'] }}</b> 
        on
        <b>{{ entry['date'] }}</b>.
      </td>
    </tr>
    <tr>
      <td>
        <table style='font-size:12pt;' cellpadding='5'>
          {% for gift in history %}
            {% if loop.index0 < 6 %}
              <tr>
                <td>
                  {{ gift.date }}
                </td>
                <td>
                  ${{ gift.amount }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <td>
        {% if entry['next_pickup'] %}
          Your next pickup is scheduled for 
          <b>{{ entry['next_pickup'] }}</b>
          .
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        {% if entry['status'] == "Call-in" %}
          Please call us when you need your next pickup at 
          <b>1-888-YOU-WINN</b> (968-9466).
        {% endif %}
      </td>
    </tr>
  {% endblock %}
