  {% extends "email/wsf/base.html" %}
  {% block content %}  
    <tr>
      <td>
        Hi {{ account['name'] }},
      </td>
    </tr>
    <tr>
      <td>
        We did not receive a collection from you on <b>{{ entry['date'] }}</b>, at
        your address <b>{{ account['address'] }}</b>, <b>{{
            account['postalCode'] }}</b>.
      </td>
    </tr>
    <tr>
      <td>
        If your pickup was missed, or if you have moved, please let us know. If you don't require a pickup, please help us
        to be more efficient with driver resources by opting out via the email or phone reminders.
      </td>
    </tr>
    <tr>
      <td>
        You can always drop off empties via our 24-hour drop box at 11130 131 St NW.
      </td>
    </tr>
    <tr>
      <td>
        {% if entry['next_pickup'] %}
        Your next pickup is scheduled for <b>{{ entry['next_pickup'] }}</b>.
        {% endif %}
      </td>
    </tr>

  {% endblock %}
