body {
    /*background-image : url("logo.png");
    background-repeat: no-repeat;
    background-position: bottom right;*/
    height: 100%;
    font-family: verdana;
    color: black;
    font-size: 16px;
}

form {
  margin: 0 auto;
  width: 300px;
}

select {
  font-size: 16px;
}

option {
  font-size: 16px;
}

.opt {
  font-size: 20px;
}

optgroup {
  font-size: 20px;
}

.box {
    background-color: #eee8d5;
    margin:auto auto;
    width: 600px;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;

    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    /* Border Shadow 
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;*/
}

.input{
    font-size: 15px;
    padding: 5px;
    border: 1px solid #b9bdc1;
    width: 300px;
    color: #797979;
    }

.h1 {
    font-size: 20px;
    font-family: verdana;
    text-align: center;
}

div.footer {
    position : absolute;
    bottom : 0;
    right: 10px;
}

div.header {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

div.navigator {
    width: 300px;
    position: absolute;
    top: 20px;
    text-align: center;
    font-family: "Kavoon", cursive;
    font-size: 40pt;
    color: #268bd2;
}
img.sdf {
    width: 300px;
}
