#buit {
  width: 200px;
  height: 60px;
}

/***** CLASSES *****/

legend.scheduler-border {
  font-size: 1.0em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  margin:0px 0px 0px 0px;
  border-bottom:none;
}

a.hover {
  text-decoration: none;
}

a.hover:hover {
  color: black;
  text-decoration: underline;
}

a.hover:link {
  color: #365766;
}

a.hover:visited {
  color: #365766;
}

.form-fieldset {
  padding: 5px 10px 15px 10px;
  border: 1px solid #cccccc;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  text-align: left;
  width: 350px;
}

.opt {font-size: 16px;}
.hidden {display: none;}

.status-banner-div {
  display: none;
  /*border:1px solid #B8CfB8;*/
  -webkit-border-radius:7px 7px 7px 7px; 
  background-color: #CDE6CD; 
  padding:0.5em; 
  text-align:center;
  color: #365766;
}

/* Outer frame for tables in show_jobs / show_calls views */
.data-container {
  border:1px solid #bbbbbb; 
  border-radius:7px; 
  -webkit-border-radius:7px 7px 0px 0px;
  padding: 0em;
}

.navbar-div {
  -webkit-border-radius:7px 7px 0px 0px; 
  background-color: white; 
  border-bottom: solid 1px #bbbbbb; 
  padding:0.5em; 
  text-align:left;
}

textarea.special-msg {
  width: 100%;
  max-width: 300px;
  height: 50px;
}

.box {
  background-color: #e8f5f9;
  min-width: 300px;
  max-width: 1000px;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 2em;
  padding-top: 2em;
  z-index: 20;
  margin-top: 1em;
  margin-bottom: 2em;
  border: 1px solid #cccccc;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.input{
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;
  border-radius: 3px; 
  font-size: 15px;
  padding: 5px;
  border: 1px solid #b9bdc1;
  width: 100%;
  max-width: 400px;
}

.menu-item {
  text-align: center;
  padding-top:0.1em;
  padding-bottom:0.1em;
}
        
.form-label {
  padding-bottom:0.3em; 
  padding-top:0.7em;
  text-align:left;
  color: #2b547e;
}

.delete-btn {
  font-size: 0.75em;
  width: 24px;
  height: 24px;
}

.form-btn {
  border-radius:3px; 
  -webkit-border-radius:3px; 
  -moz-border-radius: 3px; 
  border:1px solid black; 
  font-size:14px;
  background:#0769AD;
  color:white;
}

.form-btn.green {
  background:#6cc644; 
  border:1px solid grey; 
}

.form-btn.green:hover {
  background:#89D169;
}

.form-btn:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background:#3987BD;
  color:white;
}

.form-btn:active {
  background:#FFFFFF;
  color:black;
}

.nice {
  width: 100%;
  font-family: verdana;
  font-size: 12px;
  max-width: 400px;
}

.nice .NFI-button {
  -moz-border-radius-topleft: 3px; 
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; 
  border-bottom-left-radius: 3px;
  background: white;
  border: solid #b3b3b3 1px;
  color:black;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 25%;
  height: 32px;
  line-height: 32px;
}

.nice .NFI-button:hover {
  color: black;
  background:#6cc644;
  color:white; 
}

.nice .NFI-filename {
  -moz-border-radius-topright: 3px; 
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; 
  border-bottom-right-radius: 3px;
  width: 75%;
  border: solid #c3c3c3 1px;
  border-left: none;
  height: 32px;
  line-height: 30px;
  background: #fff;
  color: #777;
  text-shadow: 0px 1px 0px #fff;
}

.ui-tooltip, .arrow:after {
  background: black;
  border: 0px solid black;
}
.ui-tooltip {
  padding: 5px 10px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}

/***** AUDIOPLAYER *****/

#audioplayer{
/* Original: 480px x 60px */
  border-radius:3px; 
  -webkit-border-radius:3px; 
  -moz-border-radius: 3px; 
  max-width: 350px;
  background: white;
  height: 20px;
  margin: 10px auto auto auto;
  border: 1px solid gray;
}

#pButton{
/* Original: 60px x 60px */
  height:20px; 
  width: 20px;
  border: none;
  margin: 0px 0px 0px 0px;
  background-size: 65% 65%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline:none;
}

/* STORE THESE ON SERVER */
.play{background: url('http://www.alexkatz.me/codepen/images/play.png') ;}
.pause{background: url('http://www.alexkatz.me/codepen/images/pause.png') ;}

#duration {
  font-size:10px;
  line-height:20px;
  width:35px; 
  height:20px; 
  float:right; 
  color:gray; 
 /* margin:0px 5px 0px 0px;
  padding:4px 0px 0px 0px;*/
}

#timeline{
/* Original: 400px x 20px */
  width: 80%;
  height: 5px;
  margin-top: 7px;
  float: left;
  border-radius: 15px;
  background: rgba(0,0,0,.3);
  
}
#playhead{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: -2.5px;
  background: rgba(0, 0, 0,1);
}

/***** BOOTSTRAP3 *****/

.thin {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: lighter;
}

.table.table-colored {
  /*table-layout: fixed;*/
  word-wrap: break-word;
  background-color: #f7f7f7;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  /*font-size:11pt;*/
  margin-bottom:0px;
}

.table.table-colored td {
  max-width:200px;
  padding:8px 8px 8px 8px;
  color: #2b547e;
  vertical-align:middle;
}

.table.table-colored.table-hover tbody tr:hover td {
  background-color: white;
}

.table.table-colored.table-hover tbody tr:hover th {
  background-color: #e8f5f9;
}

.table.table-colored th {
  background-color: #e8f5f9;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
