body {
    /*background-image : url("logo.png");
    background-repeat: no-repeat;
    background-position: bottom right;*/
    height: 100%;
    font-family: verdana;
    color: black;
    font-size: 16px;
}

a:link {
  color: #365766;
}

a:visited {
  color: #365766;
}

form {
  margin: 0 auto;
  width: 300px;
}

select {
  font-size: 16px;
}

option {
  font-size: 16px;
}

.opt {
  font-size: 16px;
}

optgroup {
  font-size: 16px;
}

#buit {
  width: 200px;
  height: 81px;
}

.wrapper {
  width: 100%;
  text-align: center;
}

.center {
  display: inline-block;
}

.box {
    background-color: #d9f3fc;
/*    margin:auto auto;*/
/*    position: absolute;*/
    /*left: 50%;*/
    min-width: 300px;
    max-width: 700px;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    z-index: 20;
/*    margin-left: auto;
    margin-right: auto;*/
    float: left;
    margin-top: 1em;
/*    display: table-cell;*/
/*    display: inline-block;*/
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    /* Border Shadow 
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;*/
}

.input{
    font-size: 15px;
    padding: 5px;
    border: 1px solid #b9bdc1;
    width: 300px;
   /* color: #797979;*/
    }

.h1 {
    font-size: 20px;
    font-family: verdana;
    text-align: center;
}

div.footer {
    position : absolute;
    bottom : 0;
    right: 10px;
}

div.header {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

div.navigator {
    width: 300px;
    position: absolute;
    top: 20px;
    text-align: center;
    font-family: "Kavoon", cursive;
    font-size: 40pt;
    color: #268bd2;
}
img.sdf {
    width: 300px;
}
        
.label {
  padding-bottom:0.3em; 
  padding-top:0.7em;
  text-align:left;
}

.ui-dialog-osx {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 8px 8px 8px 8px; border-width: 2px 2px 2px 2px;
  font-family: verdana;
/*  color: black;*/
  font-size: 14px;

}

.ui-dialog-osx .ui-dialog-titlebar {
  background: white;
  text-align: center;
  font-size: 16px;
}

.ui-dialog-osx .ui-dialog-titlebar-close {
  visibility: hidden;
}

.nice {
  width: 305px;
  font-family: verdana;
  font-size: 12px;
}
.nice .NFI-button {
  -moz-border-radius-topleft: 3px; 
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; 
  border-bottom-left-radius: 3px;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d3d3d3 0%, #f0ffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
  background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */
  
  border: solid #b3b3b3 1px;
  color: #2F4F4F;
  width: 100px;
  height: 30px;
  line-height: 30px;
}
.nice .NFI-button:hover {
  /*background: #333;*/
  color: black;
  background: -webkit-linear-gradient(top,  #c3c3c3 0%, #f3f3f3 100%); /* Chrome10+,Safari5.1+ */
}
.nice .NFI-filename {
  -moz-border-radius-topright: 3px; 
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; 
  border-bottom-right-radius: 3px;
  width: 199px;
  border: solid #c3c3c3 1px;
  border-left: none;
  height: 32px;
  line-height: 30px;
  background: #fff;
  color: #777;
  text-shadow: 0px 1px 0px #fff;
}
