<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans|Kavoon|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type=text/javascript>
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script> 
    <script type='text/javascript' src="{{url_for('static', filename='bravo.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static', filename='jquery.nicefileinput.min.js')}}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% if title %}
    <title>{{ title }} - Bravo</title>
    {% else %}
    <title>Bravo</title>
    {% endif %}
  </head>
  <body>
    <div class="header"><img id="buit" src="{{ url_for('static', filename='bravo.png') }}"></div>
    <br>
    {% block content %}{% endblock %}
  </body>
</html>
