<html>
  <head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans|Kavoon|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type=text/javascript>
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script> 
    <script type="text/javascript" src="{{url_for('static', filename='date.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static', filename='bravo.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static', filename='jquery.nicefileinput.min.js')}}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script>
    jQuery(function($){
      displayServerStatus('/get/celery_status', '', $('#celery-status'));
      displayServerStatus('/get/db_name', '', $('#db-name'));
      displayServerStatus('/get/version', '', $('#version'));
      //$('#status-banner').text('Job successfully created!');
    });
  </script>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Bravo</title>
    {% endif %}
  </head>
  <body>
    <div id='version' style='font-size:12px; text-align:right'><br></div>
    <div id='db-name' style='font-size:12px; text-align:right'><br></div>
    <div id='celery-status' style='font-size:12px; text-align:right'><br></div>
    <div class="header">
      <a href="{{url_for('index')}}">
        <img id="buit" src="{{ url_for('static', filename='bravo2x.png') }}">
      </a>
    </div>
    <br>
    <div class='wrapper'>
      <div class='center'>
        {% block content %}{% endblock %}
      </div>
    </div>
    <br><br>
    <div id='dialog' title='Whoops!' style='display:none'>
      <p>Test dialog!</p>
    </div>
  </body>
</html>
