  {% extends "email_base.html" %}
  {% block content %}  
    <tr>
      <td>
        <p>Hi {{ first_name }}, </p>
        <p>Thanks for signing up with Empties to Winn.</p>
      </td>
    </tr>
    <tr>
      <td>
        Dropoff Date: {{ dropoff_date }} 
      </td>
    </tr>
    <tr>
      <td>
        Address: {{ address }}, {{ postal }}
      </td>
    </tr>
    <tr>
      <td style='font-size:12pt;'>
        Please let us know if the address above is incorrect.
        We'll leave you a Bag Buddy stand and green bags. You do not need to be home. 
        If you have empties, you can label them <b>'WSA'</b> and place them at your front entrance by 8am.
      </td>
    </tr>
    <tr>
      <td style='font-size:12pt;'>
        Residential pickups are scheduled every 10 weeks. 
        We provide email/voice reminders and leave you a collection slip for your records.
      </td>
    </tr>
    <tr>
      <td style='font-size:12pt;'>
        We hope you enjoy the program.
      </td>
    </tr>
{% endblock %}
