  {% extends "base.html" %}
  {% block content %}  
  <div class="h1">Setup New Job</div>
    <div class="box">
      <form action="{{ url_for('input')}}" method=post>
        Call list URL
        <br>
        <input class="input" type="text" name="csv" placeholder='CSV file url' required >
        <br><br>
        Special message (optional)
        <textarea class="input" rows="2" cols="50" maxlength="140" name="message" placeholder='message text.' required ></textarea>
        <br>
        <select name="order" required >
              <option value="before">before</option>
              <option value="after">after</option>
        </select><br>
        Recorded message (optional)<br>
        <input class="input" type="text" name="audio" placeholder='audio file (url)' required >
        <br>
        Call Date
        <br>
        <input class="input" type="date" name="date" required >
        <br>
        Call Time (Mountain Standard Time)
        <br>
        <input class="input" type="time" name="time" required >
        <br>
        Verification phone 
        <br>
        <input class="input" type="text" name="verify_phone" placeholder='Number to call' required >
        <br><br>
        <input class="input" type="submit" value="Submit" required ></p>
      </form>
    </div>
    <br>
    <div class='h1'>
      <a href="{{ url_for('index') }}">Back</a>
    </div>
  {% endblock %}
