  {% extends "base.html" %}
  {% block content %}  
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <script>
    document.write('<style type="text/css">body{display:none}</style>');
    jQuery(function($){
      initShowJobs();
    });
  </script>
  <br>
  <div class="h1"> 
  <script>
    var date = new Date();
    document.write('<b>' + date.toString('dddd, MMMM d, yyyy') + '</b>');
  </script>
  <br>
  </div>
  <div id='status-banner' class='status-banner-div'>{{banner_msg}}</div>
  <br>
  <div class="show-jobs-div">
  <div class='navbar-div'>
    <a class='hover' href="{{ url_for('index') }}">Jobs</a> / 
    <a style='font-weight:bold; text-decoration:none;' title='Schedule a new job' href="{{ url_for('new_job') }}">+</a>
  </div>
  <table class='table table-hover table-colored'>
      <tr>
        <th style='width:225px'>Scheduled</th>
        <th>Name</th>
        <th>Type</th>
        <th>Calls</th>
        <th>Status</th>
        <th></th>
      </tr>
      <tbody>
      {% for job in jobs %}
      {% set show_calls_url = url_for('show_calls', job_id=job._id)
      %}
      <tr id='{{job._id}}'>
        <td>
          <a class='hover' href="{{ show_calls_url }}">
            {{ job.fire_dtime.strftime("%A %b %d @ %I:%M %p") }}
          </a>
        </td>
        <td name='job-name'>
          <a class='hover' href="{{ show_calls_url }}">{{ job.name }}</a>
        </td>
        <td>
          <a class='hover' href="{{ show_calls_url }}">
            {{ job.template.replace('_', ' ').title() }}
          </a>
        </td>
        <td>
          <a class='hover' href="{{ show_calls_url }}">
            {{ job.num_calls }}
          </a>
        </td>
        <td name='job-status'>
        {% if job.status == "completed" %}
          <p style='color:green;'>
          {{ job.status.title() }}
        {% elif job.status == "pending" %}
          <p style='color:blue;'>
          {{ job.status.title() }}
        {% elif job.status == "in-progress" %}
          <p style='color:red;'>
          {{ job.status.title() }}
          </p>
        {% endif %}
        </td>
        <td>
          <button 
            class='delete-btn' 
            type="button" 
            id="{{ url_for('cancel_job',job_id=job._id) }}" 
            title='Delete this job'
            name="delete-btn">
          </button>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
