  {% extends "base.html" %}
  {% block content %} 
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <script>
    document.write('<style type="text/css">body{display:none}</style>');
    jQuery(function($){
      initShowCallsView();
    });
  </script>
  
  <div class='row' style='padding:20px 0px 30px 0px; text-align:center'>
    <h2>
      <span id='job-header' class='label label-primary'>
        <label id='job-status'>{{job.status.title().replace('-',' ')}}</label>
        <label id='job-summary'></label>
      </span>
    </h2>
      <p id='scheduled_datetime' style='display:none'>{{ job.fire_dtime }}</p>
  </div>
  
  <div class='data-container'>
    <div class='navbar-div'>
      <a class='hover' href="{{ url_for('index') }}">Jobs</a> / 
      {{ job.name }}
    </div>
    <table id='show-calls-table' class='table table-hover table-colored'>
      <thead>
        <tr>
          <!-- Imported Headers -->
          {% set col_num=1 %}
          {% for column in template %}
          <th id='col{{ col_num }}'><a title='Sort' class='hover' href='#'>{{ column['field'].title().replace('_', ' ') }}</a></th>
          {% set col_num = col_num + 1 %}
          {% endfor %}
          <!-- Status Headers -->
          {% for column in template %}
            {% if 'status_field' in column %}
              <th id='col{{template|length+1}}'><a title='Sort' class='hover' href='#'>{{column['status_field'].title().replace('_', ' ')}}</a></th>
            {% endif %}
          {% endfor %}
          <th class='cancel-call-col'></th>
        </tr>
      </thead>
      <tbody>
        {% set row_num=1 %}
        {%  for call in calls %}
        <tr id='{{ call._id }}'>
          <!-- Imported Fields -->
          {% for column in template %}
            <td name='{{column.field}}'>{{call.imported[column.field]}}</td>
          {% endfor %}
          <!-- Status Fields -->
          {% if call.call_status == "completed" %}
            {% if call.answered_by == "machine" %}
              {% set caption="Sent Voicemail" %}
            {% else %}
              {% set caption="Sent Live" %}
            {% endif %}
              <td name='call_status' title='"{{call.speak}}"'>{{caption}}</td>
          {% elif call.call_status == "pending" %}
            <td name='call_status'>Pending</td>
          {% elif call.call_status == "failed" %}
            <td name='call_status'>Failed ({{call.error_msg}})</td>
          {% else %}
            <td name='call_status'>{{ call.call_status + ' (' ~ call.attempts + 'x)' }}</td>
          {% endif %}
          {% for column in template %}
            {% if 'status_field' in column %}
              <!-- HACK. Fixme. -->
              {% if column['status_field'] == 'email_status' %}
                <td name='{{status_field}}'>{{call[column['status_field']].title()}}</td>
              {% endif %}
            {% endif %}
          {% endfor %} 
          <td class='cancel-call-col'>
            <button 
              class='delete-btn' 
              type="button" 
              id="{{ call._id }}" 
              name="delete-btn">
            </button>
          </td>
        </tr>
        {% set row_num = row_num + 1 %}
        {% endfor %}
    </tbody>
    </table>
  </div>
  <div>
    <br><br>


    <a class='hover' id='execute-job' href="#">[Start Job]</a>
    <a class='hover' id='email-job' href="#">[Email Job]</a>
    <a class='hover' id='reset-job' href="#">[Reset Job]</a>
    <a class='hover' id='dump' href='#'>[DB Dump]</a>
  </div>
  {% endblock %}
