  {% extends "base.html" %}
  {% block content %}  
  <script>
    jQuery(function($){
      initShowJobs();
    });
  </script>
  <div class="h1">Jobs</div>
  <div class="box">
    <table class='2data-table' style='border-spacing:10px; text-align:left; width:600px;'>
      <tr>
        <td><b>Date</b></td>
        <td><b>Name</b></td>
        <td><b>Status</b></td>
        <td></td>
      </tr>
      {% for job in jobs %}
      <tr>
        <td>
          {{ job.fire_dtime.strftime("%A %b %d %Y @ %I:%M %p") }} 
        </td>
        <td>
          <a href="{{ url_for('show_calls', job_id=job._id, sort_by='name', sort_order=1 ) }}">{{ job.name }}</a>
        </td>
        <td>
          {{ job.status.title() }}
        </td>
        <td>
          <button class='delete-btn' type="button" id="{{ url_for('cancel_job',job_id=job._id) }}" name="delete-btn"></button>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <br><br>
  <div class='h1'>
    <br>
    <a href="{{ url_for('index') }}">Back</a>
  </div>
  {% endblock %}
