  {% extends "base.html" %}
  {% block content %}  
  <div class="h1">
    Calls
    <br>
    Job_ID: ({{ job_id }})
  </div>
  <div class="box">
    <table width=100%>
      <tr>
        <td>Phone</td>
        <td>Status</td>
        <td>Message</td>
        <td>Attempts</td>
      </tr>
      {% for call in calls %}
      <tr>
        <td>{{ call.to }}</td>
        <td>{{ call.status }}</td>
        <td>{{ call.message }}</td>
        <td>{{ call.attempts }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <br>
  <div class='h1'>
    <a href="{{ url_for('show_jobs') }}">Back</a>
  </div>
  {% endblock %}
