<!doctype html>
<title>Reminder Calls</title>
<head>
    <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans|Kavoon|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="header"><img id="buit" src="{{ url_for('static', filename='logo_emptiestowinn.jpg') }}"></div>
    <br>
     <div class="h1">Setup Call Reminders</div>
    <div class="box">
        <form action="{{ url_for('input')}}" method=post>
            Call list URL
            <br>
            <input class="input" type="text" name="csv" placeholder='CSV file url' required >
            <br><br>
            Special message (optional)
            <textarea class="input" rows="2" cols="50" maxlength="140" name="message" placeholder='message text.' required ></textarea>
            <br>

            <select name="order" required >
                  <option value="before">before</option>
                  <option value="after">after</option>
            </select><br>
            Recorded message (optional)<br>

            <input class="input" type="text" name="audio" placeholder='audio file (url)' required >
            <br>
            Call Date
            <br>
            <input class="input" type="date" name="date" required >
            <br>
            Call Time (Mountain Standard Time)
            <br>
            <input class="input" type="time" name="time" required >
            <br>
            Verification phone 
            <br>
            <input class="input" type="text" name="verify_phone" placeholder='Number to call' required >
            <br><br>
            <input class="input" type="submit" value="Submit" required ></p>
        </form>
    </div>

    <div class="footer"><p>Built by</p><img id="buit" src="{{ url_for('static', filename='logo.png') }}"></p>
    </div>
</body>
