/* account.css */

.hpanel {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
    background-color: none;
    border: 0;
    margin-bottom: 25px;
}
.hpanel .panel-heading {
    background-color:white;
    border-bottom: solid 1px #eaeaea;
    color: #6a6c6f;
    font-weight: 400;
    padding: 13px 20px 13px 20px;
    transition: all .3s;
}
.hpanel .panel-heading .button {
    background-color: inherit;
    opacity: 1;
}
.hpanel .panel-heading .dropdown-menu {
    max-width:70px!important;
}
.hpanel .panel-body {
    background: #fff;
    padding: 20px;
    position: relative
}
.hpanel .panel-footer {
    color: inherit;
    background-color: white;
    border: 0; /*1px solid #eaeaea;*/
    border-top: 0;
    font-size: 90%;
    padding: 5px 20px;
}
.hpanel .panel-footer .small-time {
    color: #9f9fa0;
}

.font-extra-bold {
    font-weight: 700;
    color: #6a6c6f;
}

/* Profile Panel 
   Primary Color: #20a8d8 (Sky blue)
   Secondary Color: white 
*/

.profile {
    font-family: 'Proxima Nova',sans-serif;
    font-weight:200;
    color: white!important;
}
.profile .banner {
    background-color: #20a8d8;
    color: white;
}
.profile h2 {
    color:white;
}
.profile #map{
    height: 250px;
    border: 1px solid #eaeeea;
}
.profile .stats-row {
    height:120px;
    color: #6a6c6f;
    margin: 0;
}
.profile .col-md-4 .centered {
    margin: auto auto auto auto;
    text-align: center;
    padding:0.25rem;
}
.profile .divider {
    border-right: 1px solid #eaeaea;
}
.profile .stat-box {
    padding: 0.25rem;
    text-align: center;
    margin: auto auto auto auto;
}
.profile .stat-box .loading {
    color: #dfdfdf!important;
}
.profile .h1-stat {
    font-weight: normal;
    font-size: 3.0rem;
    color: #20a8d8;
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-align:center;
}
.profile .h1-stat .float {
    margin-left: 1rem;
    margin-bottom: 0;
}
.profile .h1-stat .decimal {
    font-size: 0.4em;
    vertical-align: baseline;
    top: -1.0em;
    left: -0.2em;
    position: relative;
}

/* Persona/PUS Panels */

/*
    Field name: #A0A0A2!important; (light gray)
    Field value: #6a6c6f!important; (dark gra)
*/

#contact_panel .panel-heading, #custom_panel .panel-heading {
    color: #20a8d8!important;
}

.panel-heading button {
    color: #20a8d8!important;
    border: none;
    cursor: pointer;
    background-color: white;
}

.panel-heading button:hover {
    /*color:#4dbd74!important;*/
    background-color:white;
    font-weight: 700;
}

.val {
    color: #6a6c6f;
    font-weight:200;
}

.field {
    font-weight:400;
    color: #6a6c6f!important;
}

/* Morris.js Bar Chart Panel 
   Primary Color: #ec8380 (Cherry)
   Secondary Color: #fff3f3 (Light pink)
*/

.chart-panel .panel-body {
    height: 175px;
    background-color: #fff3f3;
}
.chart-panel .panel-footer {
    background-color: #fff3f3;
    font-size: 80%;
    font-weight: 600;
    letter-spacing: 0em;
}
.chart-panel .spinner {
    color: #dfdfdf!important;
}
.chart-panel .chart {
    padding-left:0;
    padding-right:0;
    height:150px;
    width:100%;
    border-bottom: 2px solid #fed6d5;
}
.chart-panel .chart svg {
    top: 1px;
}
.chart-panel .loading {
    -webkit-box-pack: center!important;
    -webkit-justify-content: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}


/* Actions Panel 
   Primary Color: #4dbd74 (Apple green)
*/

.act-panel .panel-heading i {
    color: #f8cb00;
}
.book-btn {
    cursor: pointer;
    background-color: #4dbd74;
    color: white;
    width: 100%;
}
.chat-btn {
    cursor: pointer;
    background-color: #63c2de;
    border-color:#63c2de; /*#f8cb00;*/
    color: white;
    width: 100%;
}
.chat-btn:hover {
    background-color: #299fc1;
    border-color: #2283a0;
    width: 100%;
}
.chat-btn.disabled {
    background-color: #c6c1c1;
    border-color: #c6c1c1;
}


/* Misc */

.refresh-btn {
    color: #6a6c6f;
    border: none;
}
