
/* ANALYTICS.HTML */

.analy-hdr {
    background-color: blanchedalmond;
    border-bottom: 1px solid rgba(106, 108, 111, 0.4);
    cursor: pointer;
}
.analy-hdr-title {
    color:#74480a;
    font-size:1.25rem;
    font-weight:400;
}
.analy-panel {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 13px 1px;
    /*max-width:1200px;*/
}
.analy-panel .chart {
    /*top:15px;
    height:100%;
    width:100%;
    border-bottom:none;*/
}
.analy-ctrl-sel {
    font-weight:300;
    font-family:proxima-nova,sans-serif;
}
.analy-title {
    height: 50px;
    font-size: 1.25em;
    font-family: proxima-nova,sans-serif;
    color: #464a4c!important;
    font-weight: 300;
    border-bottom: 1px solid rgba(106, 108, 111, 0.23);
}
.res-card {
    width:150px;
    height:100px;
    border-radius:10px;
    display:none;
}
.chart-instr {
    color: #6a6c6f;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18pt;
}
.datepicker-days .table-condensed {
    width:325px;
}

