

body {
    background-color: #f8f9fb;
}

.hpanel {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
    background-color: none;
    border: 0;
    margin-bottom: 25px;
}

.hpanel .panel-heading {
    background-color:white;
    border-bottom: solid 1px #eaeaea;
    color: #6a6c6f;
    font-weight: 400;
    padding: 13px 20px 13px 20px;
    transition: all .3s;
}

.hpanel .panel-body {
    background: #fff;
    padding: 20px;
    position: relative
}

.hpanel .panel-footer {
    color: inherit;
    background-color: white;
    border: 0; /*1px solid #eaeaea;*/
    border-top: 0;
    font-size: 90%;
    padding: 5px 20px;
}

.font-extra-bold {
    font-weight: 700;
    color: #6a6c6f;
}



