/* BRAVO COLOR SCHEME
 * Elements:
 *   #517ba3    Deep Blue  Primary (logo, borders, card header bg)
 *   #ffffff    White      Secondary
 * Fonts:
 *   #365766    Dark Blue  Primary
 *   #808080    Gray       Secondary (table headers, card titles)
 */

/* GENERAL */
body {
    color: #6a6c6f;
    background-color:#f7f7f7; 
}
.nav-bg {
    background-color: white;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    height:60px;
    border-bottom:1px solid #c8c9ca;
}
.body {
    max-width:1600px;
}

/* NAV MENU */
#main-nav {
    background-color:white;
    border-bottom: 1px solid #ddd;
}
.container-fluid.br-nav {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
#searchbar #search_input {
    font-size: 0.75rem;
}
#searchbar button {
    font-size: 0.75rem;
}
#searchbar button i {
    font-size: 1.15rem;
    color: #279bbe;
}
.br-nav-icon {
    color:#279bbe;
    font-size: 1.75rem;
}
.br-nav-a {
    color: #365766;
    margin-bottom:0;
}
.br-nav-item {
	margin-left:0.2em; 
	margin-right:0.2em; 
	text-align:center;
}
.br-nav-item a.nav-link {
    font-size: .9rem;
    color: #279bbe!important;
    font-weight: 400;
}
.br-nav-item a.nav-link:hover {
    color: #103a46!important;
}
.logo-a-center {
    margin-left: auto;
    margin-right: auto;
}
.logo-img-sm {
    width: 116px;
    height: 35px;
    content: url("/static/main/images/bravo_logo.png");
}
.logo-img-lg {
    width: 200px;
    height: 117px;
    content: url("/static/main/images/bravo_logo_barbell.png");
}
#admin-nav {
    background-color:white;
    border-bottom: 1px solid #ddd;
}
.admin-nav-a {
    color:#279bbe;
}
.admin-card-header {
    background-color: #279bbe;
}
.admin-card-title {
    color:#eceeef;
}

/*BRAVO COMMON*/

.modal-wide {
    min-width:600px;
    max-width:1000px;
    min-height: calc(100vh - 60px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    overflow: auto; 
    @media(max-width: 768px) { min-height: calc(100vh - 20px);}
}
.rounded-header {
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color: #517ba3;
    padding:10px;
}
.br-alert {
    visibility: visible;
    opacity: 0;
    margin:1em 2em;
    -webkit-border-radius:7px 7px 7px 7px; 
    padding:0.5em; 
    text-align:center;
}
.admin-panel-container {
    display: table;
    position: fixed; 
    bottom:-2.5em;
    right:0; 
    right:50%;
    background: rgba(255,255,255,1.0); 
    text-align: center; 
    width: 600px;
    margin-right: -300px;
    padding: 0;
}
.admin-panel-outer {
    position: relative;
    visibility: visible;
    display: inline-block;
    width: 100%;
    margin: 0;
    text-align: center;
    border: 1px solid black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left:0em;
    padding-right:0em; 
    padding-bottom: 2.5em;
}
.btn_resize {
    position:absolute;
    top:5px;
    right:25px;
}
.btn_close {
	position:absolute;
    top:5px;
    right:5px;
}
.admin-panel-body {
    display: inline-block;
}
.admin-pane {
    display: inline-block;
    vertical-align:top;
    height: 100%;
    border: 1px solid black;
    padding: 1.0em;
    width: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.25em;
}
span.admin-outer {
	border-bottom:1px solid black;
}
legend.admin-outer {
    font-size: 1.0rem;
    padding: 0.5em;
    background-color: rgba(71, 59, 59, 0.075);
    margin:auto;
    border-bottom:1px solid black;
    width:100%;
}
.admin-status {
	border-radius:7px; 
	width: 500px;
	padding: 0.25em;
	margin: 0.5em auto;
	background-color:white;
}
legend.admin-border {
    width:auto;
    padding: 0.25em 0.5em 0em 0.25em;
    margin:0px 0px 0px 0px;
    border-bottom:none;
    font-size: 18px;
}
.btn.admin {
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.loader-div {
	display: none;
	background-color:#f7f7f7;
	text-align:center;
	padding:1em;
}
.btn.loader {
	opacity: 0;
	pointer-events: none;
	cursor: default;
}
.loader-animate {
    -animation: loader_spin .7s infinite linear;
    -webkit-animation: loader_spin2 .7s infinite linear;
}
@-webkit-keyframes loader_spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes loader_spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/*NOTIFY EVENT*/
.event-item-mon {
    font-family: "Avenir Next",-apple-system, BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size:14px;
    color:#4E5C6E;
    font-weight:600;
    letter-spacing:1px;
}
.event-item-day {
    font-family: "Avenir Next",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: #9BA6B2;
}
.opt {
    font-size: 16px;
}
.delete-btn {
    /*font-size: 0.75em;
    width: 24px;
    height: 24px;*/
}
.form-label {
    padding-bottom:0.3em; 
    padding-top:0.7em;
    text-align:left;
    color: #2b547e;
}
.ui-tooltip, .arrow:after {
    background: black;
    border: 0px solid black;
}
.ui-tooltip {
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

/*BOOKER VIEW*/
.input.booker {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 43px;
    font-size: 14pt;
    /* max-width: 800px;*/
}
.input.booker:focus {
    border-color: #365766;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

/*BOOTSTRAP SUBCLASSES*/
.card-header.blue {
    background-color:#517ba3;
    color:white;
}

/*BOOTSTRAP OVERRIDE*/

a.hover {
    text-decoration: none;
}
a.hover:hover {
    color: black;
    text-decoration: underline;
}
a.hover:link {
    color: #365766;
}
a.hover:visited {
    color: #365766;
}
.tooltip-wide .tooltip {
    min-width:500px;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    /* Allows clicking outside modal area to close it */
    pointer-events:none; 
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog 
     * class, we need to inherit it `*/
    width:inherit;
    max-width:600px;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
} 
.thin {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight: lighter;
}
.table.table-colored {
    position: relative;
    table-layout: fixed;
    width: 100%;
    background-color:white;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-size:11pt;
    margin-bottom:0px;
}
.table.table-colored th {
    padding:0.75em;
    background-color:white;
    /*padding:12px 6px 12px 6px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table.table-colored td {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:12px 12px 12px 12px;
    color: black;
    vertical-align:middle;
    font-family: Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased !important;
}
.table.table-colored.table-hover tbody tr:hover td {
    background-color: white;
}
.table.table-colored.table-hover tbody tr:hover th {
    background-color: #e8f5f9;
}
.table.table-colored hr {
	margin: 0;
	text-align: left;
	width: 25px;
}

/*LOGIN VIEW*/
.login-outer {
    max-width: 400px;
    border: 1px solid #bbbbbb;
    border-radius: 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
    padding: 0;
    margin-top: 7.5em;
    margin-left: auto;
    margin-right: auto;
}
.login-inner {
	border-radius:7px;
    background-color: white;
    padding:3.0em;
}
.login-btn {
	font-size: 20px;
    width:100%;
    padding:0.5em;
}

/*RECENT VIEW*/

.recent-event-item {
    line-height: 1;
    background-color:white;
    margin-bottom: .25rem;
}
.recent-event-item:hover, .recent-event-item:focus {
    background-color:white;
    /*box-shadow:
        rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
        rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
    */
    color: rgb(0,116,172); 
}
.json-container {
    padding-left: 0px!important;
    margin-left: 0px!important;
    margin-bottom: 0px!important;
}

/*ALICE VIEW*/

.chat-card:hover {
    cursor:pointer;
    border: 1px solid rgba(0,0,0,.25);
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 1px 10px,
        rgba(0, 0, 0, 0.1) 8px 8px 5px;
}
.chat-card {
    color: white;
    background-color:#20a8d8;
}
.chat-card .time {
    color: white;
    border-top: none!important;
}
.chat-card .card-block .message {
    height: 50px;
    font-style: italic;
    overflow: hidden;
}
.chatlog-dt {
    padding:0;
    padding-right:0.25em;
    border:none;
}
.chatlog-msg {
    border:none;
    padding:0;
}

/*ANALYTICS*/

.analy-panel {
    height:600px;
    background-color:white;
}
.analy-panel .chart {
    top:25px;
    height:100%;
    width:100%;
    border-bottom:none;
}
.panel-body #summary {
    position: absolute;
    color: #636c72;
    background-color: rgba(236, 238, 239, 0.83);
    top:20px;
    left:20px;
    z-index:100;
}
.analy-title {
    font-family: proxima-nova,sans-serif;
    color: #464a4c!important;
    font-weight: 300;
}
.chart-logo {
    background-image: url("https://marketplace.canva.com/MACQ3DGRZ9I/1/thumbnail_large/canva-sketch-icon-of-bar-chart-MACQ3DGRZ9I.png");
    background-repeat: no-repeat;
    background-size: 250px 250px;
    width: 250px;
    height: 250px;
    text-align:center;
    color:rgba(1, 1, 1, 0.1);
    opacity:0.55;
}
.chart-logo-title {
    color: #6a6c6f;
    letter-spacing: 5px;
    font-family: proxima-nova, sans-serif;
}
.chart-instr {
    color: #6a6c6f;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18pt;
}
.datepicker-days .table-condensed {
    width:325px;
}




/*BREAKPOINTS*/

/*Mobile Phones*/
@media (max-width: 480px) { 
    .container {
        position: relative;
        left:0;
        right:0;
        top: 0;
        padding:0;
        margin: 0em auto;
    }
    .alert-banner {
        margin: 0.1em;
    }
    body {
        padding:0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom:0;
    }
    .main-menu-item {
        margin: 0.1em;
    }
    .admin-panel-div {
        display: none;
    }
    #searchbar {
        max-width: 100%!important;
        width: 100%!important;
    }
    .modal-wide {
        min-width:300px;
        max-width:480px;
    }
    .modal-content {
        min-width:300px;
        max-width:480px;
    }
}
@media (min-width: 992px) {
    .container {
        position: relative;
        top: 0;
        left:0;
        right:0;
        padding:0;
        margin: 0em 2em;
    }
    .alert-banner {
        margin: 1.0em auto;
    }
    #searchbar {
        max-width: 100%!important;
        width: 100%!important;
    }
}
@media (min-width: 1200px) {
    .container {
        width:100%;
        margin: 0em auto;
    }
    .br-alert {
        margin: 1.0em 2em;
    }
    .modal-content {
        min-width:1000px;
        max-width:1000px;
    }
    #searchbar {
        max-width:50%;
    }
}
@media (max-width:992px) {
    .navbar-nav {
       flex-direction:row; 
    }
    .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
