{% if not notific['tracking']['answered_by'] == 'machine' and not notific['tracking']['digit'] and not timeout %}

		This is a message from Winnifred Stewart. 
		To listen press 1.

{% endif %}

{% if notific['tracking']['answered_by'] == 'machine' or notific['tracking']['digit'] == '1' or timeout %}

    Hi, this is a friendly reminder that your green goods delivery is scheduled for {{ notific['event_dt'] }}. 

		Your order total is ${{ account['udf']['amount'] }}.

		To repeat this message, press 1. To end this call, press 2.

{% endif %}

{% if notific['tracking']['digit'] == '2' %}

	Thank you. Goodbye.

{% endif %}

{% if notific['tracking']['digit'] == '1' and timeout %}

	Thanks for your support. Goodbye.

{% endif %}
