{% if 'reply' in notific['tracking'] %}

	{% if notific['tracking']['reply'] == 'NOPICKUP' %}

		Thank you. You have been removed from the route. Your next scheduled pickup will be 
		{{ account['udf']['future_pickup_dt'] }}.

	{% else %}

		If you do not need a pickup, reply with keyword NOPICKUP.

	{% endif %}

{% else %}

		Hi {{ account['name'].split(' ')[0] }}, 
		
		your Empties to Winn 

    {% if account['udf']['status'] == "Dropoff" %}

				dropoff 

    {% else %}

        pickup 

    {% endif %}

				is {{ account['udf']['pickup_dt'] }}. 

    {% if account['udf']['status'] == "Dropoff" %}

        If you have any empties you can leave them out by 8am.

    {% elif account['udf']['status'] == "Active" or account['udf']['status'] == "One-time" %}

        Please have your empties out by 8am.

    {% elif account['udf']['status'] == "Cancelling" %}

        A driver will be by to collect your bag buddy frame. Thanks for your past support.

    {% endif %}

		If you do not need a pickup, reply with keyword 'NOPICKUP'.

		Questions? Call 1-888-YOU-WINN

{% endif %}
