{% extends "views/base.html" %}
{% block content %}

<script src="{{url_for('main.static', filename='js/strftime.js')}}"></script>
<script type="text/javascript" src="{{url_for('main.static', filename='js/accounts.js')}}"></script>
<script> 
  document.write("<style type='text/css'> body{display:none}</style>");
  jQuery(function($){ accountsInit(); $("body").css("display","block"); });
</script>

  <!--Search & Account Summary-->
  <div class="row">
    <div class="col-3">
      <div class="hpanel">
        <div class="panel-heading">
          Search for accounts
        </div>
        <div class="panel-body">
          <div class="row">
            <input id="acct_input" class="form-control col-9 ml-2 mr-2" name="acct" type="text" 
            placeholder="Enter Account ID" onkeydown="searchKeyPress(event)" autocomplete="off" autofocus>
            <button class="btn btn-secondary" type="button" id="find_acct">Go</button>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-right">
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="hpanel">
        <div class="panel-heading">
          Dashboard information and statistics
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 text-center">
              <div class="small">
                <i class="fa fa-bolt"></i> Total Gifts
              </div>
              <div>
                <h1 class="font-extra-bold mt-3">$229.00</h1>
                <small>Donations since sign-up</small>
              </div>
              <div class="small mt-5">
                <i class="fa fa-clock-o"></i> Data from January
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-center small">
                <i class="fa fa-laptop"></i> Average Gift
              </div>
              <h1 class="font-extra-bold text-center mt-3">$15.43</h1>
              <div class="text-center"><small class="text-center">Per pick-up</small></div>
            </div>
            <div class="col-md-3 text-center">
              <div class="small">
                <i class="fa fa-clock-o"></i> Active duration
              </div>
              <div>
                <h1 class="font-extra-bold mt-3">10 Months</h1>
                <small>And four weeks</small>
              </div>
              <div class="small mt-5">
                <i class="fa fa-clock-o"></i> Last active in 12.10.2015
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-right">
          You have two new messages from <a href="http://webapplayers.com/homer_admin-v2.0/light-shadow/">Monica Bolt</a>
          </span>
          Last update: 21.05.2015
        </div>
      </div>
    </div>
  </div>
  <!--ROW 2 FIELDS-->
  <div class="row offset-3">
    <div class="col">
      <div class="hpanel">
        <div class="panel-heading">Contact Info</div>
        <div class="panel-body" id="contact">
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-right">
          You have two new messages from <a href="http://webapplayers.com/homer_admin-v2.0/light-shadow/">Monica Bolt</a>
          </span>
          Last update: 21.05.2015
        </div>
      </div>
    </div>
  </div>

  <!--ROW 3 FIELDS-->
  <div class="row offset-3">
    <div class="col">
      <div class="hpanel">
        <div class="panel-heading">Custom Fields</div>
        <div class="panel-body" id="custom"></div>
        <div class="panel-footer">
          <span class="pull-right">
          You have two new messages from <a href="http://webapplayers.com/homer_admin-v2.0/light-shadow/">Monica Bolt</a>
          </span>
          Last update: 21.05.2015
        </div>
      </div>
    </div>
  </div>

  <!--ROW 4 FIELDS-->
  <div class="row offset-3" hidden>
    <div class="col">
      <div class="hpanel">
        <div class="panel-heading">Internal</div>
        <div class="panel-body" id="internal"></div>
        <div class="panel-footer">
          <span class="pull-right">
          You have two new messages from <a href="http://webapplayers.com/homer_admin-v2.0/light-shadow/">Monica Bolt</a>
          </span>
          Last update: 21.05.2015
        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div id="accts_options" style="display:none">
</div>


<style>
  #acctv h4 {
    text-align:left;
    color:gray;
  };

  #acctv p  {
    text-align:left;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #srch label, #acct_hdr label {
    font-weight:400;
    font-size:1.5rem;
  }


</style>


{% endblock %}
