  {% extends "views/base.html" %}
  {% block content %}

  <meta id="coord_data" data-city="{{city_coords}}" data-home="{{home_coords}}">
  <head>
    <script src="{{url_for("main.static", filename="js/lib/morris.min.js")}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="{{url_for("alice.static", filename="js/alice.js")}}"></script>
    <script src="{{url_for("main.static", filename="js/maps.js")}}"></script>
    <script src="{{url_for("main.static", filename="js/accounts.js")}}"></script>
    <script src="{{url_for("main.static", filename="js/charts.js")}}"></script>
    <link href="{{url_for("static", filename="main/css/lib/morris.css")}}" rel= "stylesheet" type= "text/css">
    <link href="{{url_for("static", filename="main/css/account.css")}}" rel= "stylesheet" type= "text/css">
  </head>
  <script> 
    jQuery(function($){
      accountsInit();
      initCharts();
    });
  </script>
  <div class="row" id="main" hidden>
    <div class="col-12 col-xl-7">
      <!--Profile Panel-->
      <div class="col-md-12 p-0">
          <div class="profile hpanel" id='sum_panel'>
            <!--Banner-->
            <div class="banner panel-heading text-left p-3">
							<div class="row">
								<div class="col-8 my-auto" style="display:flex">
                  <h2 class="m-0 pr-3" id="acct_name"></h2>
                  <h4 class="status m-0">
                    <span class="badge badge-info status" id="status"></span>
                  </h4>
                </div>
								<div class="col my-auto text-right">
									<label id="acct_id" class="m-0" ></label>
									<i class="fa fa-user-circle-o fa-2x icon"></i>
								</div>
							</div>
            </div>
            <div class="panel-body p-0">
              <!--Map-->
              <div id="map"></div>
              <!--Gift Stats-->
              <div class="row stats-row">
                <div class="col-md-4 centered divider">
                  <div class="stat-box">
                    <i class="loading fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
                    <h1 class="h1-stat" id="n_gifts" hidden></h1>
                    <div hidden>Donations</div>
                  </div>
                </div>
                <div class="col-md-4 centered divider">
                  <div class="stat-box">
                    <i class="loading fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
                    <h1 class="h1-stat" id="total" hidden>
                      <label class="float"></label>
                      <span class="decimal"></span>
                    </h1>
                    <div hidden>Received Total</div>
                  </div>
                </div>
                <div class="col-md-4 centered">
                  <div class="stat-box">
                    <i class="loading fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
                    <h1 class="h1-stat" id="avg" hidden>
                      <label class="float"></label>
                      <span class="decimal"></span>
                    </h1>
                    <div hidden>Per Donation</div>
                  </div>
                </div>
              </div>
              <!--End Row-->
            </div>
            <!--End Panel Body-->
          </div>
          <!--End Panel-->
      </div>
      <!--Persona Panel-->
      <div class="col-md-12 p-0">
          <div class="hpanel " id='contact_panel' hidden>
            <div class="panel-heading">
              Personal Details
              <span class="pull-right">
                <button type="button" class="btn btn-outline-secondary fa fa-edit" id="info-edit"></button>
              </span>
            </div>
            <div class="panel-body" id="contact">
              <form>
                <div class="row"></div>
                <div class="d-flex justify-content-center" id="edit-confirm">
                  <div class="col offset-md-12 p-0 pt-3 text-right" hidden>
                    <button type="button" class="btn btn-danger  mr-2">
                      <i class="fa fa-times mr-2"></i>Cancel
                    </button>
                    <button type="button" class="btn btn-success mr-0">
                      <i class="fa fa-check mr-2"></i>Save
                    </button>             
                  </div>
                </div>
              </form>
            </div>
            <div class="panel-footer">
              <small class='small-time' id="pers-created-tt"
               data-toggle="tooltip" data-placement="top"  data-original-title=""
              >Created 
                <label id="personaCreatedDate"></label>
              </small>
              <span class="pull-right">
                <small class='small-time'>Updated 
                  <label id="personaLastModifiedDate"></label>
                </small>
              </span>
            </div>
          </div>
      </div>
      <!--Pickup Service-->
      <div class="col-md-12 p-0">
          <div class="hpanel" id='custom_panel' hidden>
            <div class="panel-heading" style="">
              Pick-up Service
              <span class="pull-right">
                <button type="button" class="btn btn-outline-secondary fa fa-edit" id="pus-edit">
              </span>
            </div>
            <div class="panel-body" id="custom">
              <form>
                <div class="row"></div>
                <div class="d-flex justify-content-center" id="edit-confirm">
                  <div class="col offset-md-12 p-0 pt-3 text-right" hidden>
                    <button type="button" class="btn btn-danger  mr-2">
                      <i class="fa fa-times mr-2"></i>Cancel
                    </button>
                    <button type="button" class="btn btn-success mr-0">
                      <i class="fa fa-check mr-2"></i>Save
                    </button>             
                  </div>
                </div>
              </form>
            </div>
            <div class="panel-footer">
              <small class='small-time'>Created 
                <label id="accountCreatedDate"></label>
              </small>
              <span class="pull-right">
                <small class='small-time'>Updated 
                  <label id="accountLastModifiedDate"></label>
                </small>
                <button type="button" class="btn btn-outline-secondary btn-sm fa fa-refresh refresh-btn"></button>
              </span>
            </div>
          </div>
      </div>
    </div><!--End LEFT-COLUMN-->
    <div class="col-12 col-xl-5">
        <!--Chart Panel-->
        <div class="col-md-12 p-0">
            <div class="hpanel chart-panel">
              <div class="panel-heading">Donation History
                <span class="pull-right">
                  <i class="fa fa-history" style="color:#ec8380;"></i>
                </span>
              </div>
              <div class="panel-body pt-4 pb-0">
                <div class="row loading">
                  <i class="spinner fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
                </div>
                <div class="col chart" id="chart" hidden></div>
              </div>
							<div class="panel-footer">
								<div class="row" id='timeline' hidden>
							    <div class="col text-center">
									  <small hidden>FROM </small>
                    <small id="joined-d"></small> - 
                    <small id="last-gave-d"></small>
									</div>
								</div>
							</div>
            </div>
        </div>
        <!--Actions Panel-->
        <div class="col-md-12 p-0">
            <div class="hpanel act-panel" hidden>
              <div class="panel-heading">
                Actions
                <span class="pull-right"><i class="fa fa-star"></i></span>
              </div>
              <div class="panel-body text-center">
                <div class="row justify-content-md-center">
                  <div class="col-6 text-center">
                    <button type="button" class="btn btn-success btn-lg book-btn">
                      <i class="fa fa-truck"></i>
                      &nbsp;Book Pickup
                    </button>
                  </div>
                  <div class="col-6 text-center">
                    <button type="button" class="btn btn-success btn-lg chat-btn">
                      <i class="fa fa-whatsapp"></i>
                      &nbsp;Send SMS
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div><!--End RIGHT-COLUMN-->
  </div><!--End row-->
  <!--Internal-->
  <div class="col-4" hidden>
    <div class="hpanel" id='internal_panel' hidden>
      <div class="panel-heading">Internal</div>
      <div class="panel-body" id="internal">
        <div class="row">
        </div>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
  <!--Participation Panel-->
  <div class="col-md-12 p-0" hidden>
    <div class="hpanel" id="stats_panel">
      <div class="panel-heading">Statistics
        <span class="pull-right"><i class="fa fa-percent" style="color:#4ea5e0"></i></span>
      </div>
      <div class="panel-body p-3">
        <div class="partic progress-radial progress-80 setsize mx-auto">
          <div class="overlay setsize"><p>80%</p></div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <!--Error-->
  <div class="row" id="error" style="height:150px" hidden>
    <div class="col-6 mx-auto my-auto">
      <div class="alert br-alert" id="err_alert"></div>
    </div>
  </div>

  {% include "views/chat.html" %}
  {% endblock %}
