{% extends "views/base.html" %}
{% block content %}

<script src="{{url_for('main.static', filename='js/strftime.js')}}"></script>
<script type="text/javascript" src="{{url_for('main.static', filename='js/accounts.js')}}"></script>
<script> 
  document.write("<style type='text/css'> body{display:none}</style>");
  jQuery(function($){ accountsInit(); $("body").css("display","block"); });
</script>

<div class="container-fluid pl-0 pr-0" id="search_ctnr" style="text-align:center">
  <div class="card-deck mt-0">
    <!--SEARCH-->
    <div class="card mt-0 mr-1" style="max-width:350px;">
      <div class="card-header blue">
        <label style="font-weight:400; font-size:1.5rem" class="">Search Options</label>
      </div>
      <div class="card-block">
        <div id="acct_row" class="row">
          <input id="acct_input" class="form-control col-9 ml-2 mr-2" name="acct" type="text" 
          placeholder="Enter Account ID" onkeydown="searchKeyPress(event)" autocomplete="off" autofocus>
          <button class="btn btn-secondary" type="button" id="find_acct">Go</button>
        </div>
      </div>
    </div>
    <!--PROPERTIES-->
    <div class="card ml-0"> <!--style="width:1000px; height:800px">-->
      <div class="card-header blue">
        <label id="acct_name" style="font-weight:400; font-size:1.5rem" class="">Account</label>
      </div>

      <div id="prop_container" hidden>
        <div class="text-left card-block pb-0 mb-0">
          <h3 style="color:gray">Contact Info</h3>
        </div>
        <div name="contact" class="card-block"></div>

        <div class="text-left card-block pb-0 mb-0">
          <h3 style="color:gray">Custom Fields</h3>
        </div>
        <div name="custom" class="card-block"></div>

        <div class="text-left card-block pb-0 mb-0" hidden>
          <h3 style="color:gray">Analytics</h3>
        </div>
        <div name="properties" class="card-block" hidden></div>

        <div class="text-left card-block pb-0 mb-0">
          <h3 style="color:gray">Internal</h3>
        </div>
        <div name="internal" class="card-block"></div>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div id="accts_options" style="display:none">
</div>


{% endblock %}
