  <script src="{{url_for("static", filename="main/js/admin_panel.js")}}"></script>

  <div class="container" hidden>
    <div class="admin-panel-container">
      <fieldset class="admin-panel-outer">
				<div class="admin-panel-header">
					<button type="button" class="close btn_resize" aria-hidden="true"
            onclick="resizeAdminPanel();">-</button>
					<button type="button" class="close btn_close" aria-hidden="true"
            onclick="closeAdminPanel();">×</button>
          <span><legend class="">Admin Panel</legend></span>
				</div>
        <div class="admin-panel-body">
          <div class="admin-status">
            <span id="admin-msg"></span>
          </div>
          <fieldset id="admin_pane" class="admin-pane">
            <legend class="admin-border">Administrator</legend>
          </fieldset>
          <fieldset id="dev_pane" class="admin-pane">
            <legend class="admin-border">Developer</legend>
          </fieldset>
        </div>
      </fieldset>
    </div>
  </div>
