{% extends "views/base.html" %}
{% block content %}  
<script type="text/javascript" 
		src="{{url_for("main.static", filename="js/admin.js")}}">
</script>
<script>
document.write("<style type='text/css'> body{display:none}</style>");
jQuery(function($){
	$("body").css("display","block");
});
</script>
<script> 
jQuery(function($){init();});
</script>

<div class="container">
	<!-- Nav tabs -->
	<ul style="margin-bottom:2em" class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Settings</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#email" role="tab">Email</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="settings" role="tabpanel"></div>
		<div class="tab-pane" id="email" role="tabpanel">
      <button id="receipt_btn" class="btn btn-info">
        Preview Receipt
      </button>
      <button id="notific_btn" class="btn btn-info">
        Preview Notification
      </button>
    </div>
	</div>

	<div name="settings_data" hidden>
		{{ agency_config|safe }}
	</div>
</div>

  {% endblock %}
