{% extends "views/base.html" %}
{% block content %}  
<script type="text/javascript" 
		src="{{url_for("main.static", filename="js/admin.js")}}">
</script>
<script>
document.write("<style type='text/css'> body{display:none}</style>");
jQuery(function($){
	$("body").css("display","block");
});
</script>
<script> 
jQuery(function($){init();});
</script>

<div class="container">
  <!-- Agency settings data -->
	<div name="settings_data" hidden>
		{{ agency_config|safe }}
	</div>

	<!-- Nav tabs -->
	<ul style="margin-bottom:2em" class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#email" role="tab">Previewer</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="email" role="tabpanel">
        <fieldset style='margin-top:4em' class="form-fieldset">
          <legend>Email Receipts</legend>
          <table border="0" cellpadding="5" cellspacing="10">
            <form id='receipt_form' style='margin-top:4em'>
              <tr>
                <td>
                  <select name="type_" class="form-control">
                    <option value="donation">Donation</option>
                    <option value="no_donation">No Donation</option>
                    <option value="zero_donation">$0 Donation</option>
                    <option value="post_drop">Post Dropoff</option>
                    <option value="cancelled">Cancellation</option>
                  </select>
                </td>
                <td>
                  <button id="receipt_btn" class="btn btn-info">Show Preview</button>
                </td>
              </tr>
            </form>
          </table>
        </fieldset>
        <fieldset style='margin-top:2em' class="form-fieldset">
          <legend>Email Notifications</legend>
          <table border="0" cellpadding="5" cellspacing="10">
            <form id='email_notific_form' style='margin-top:2em' disabled>
            <tr>
              <td>
                <select name="type_" class="form-control" disabled>
                  <option value="res_pickup">Residential Pickup</option>
                  <option value="res_drop">Residential Dropoff</option>
                  <option value="res_cancel">Residential Cancelling</option>
                  <option value="bus_pickup">Business Pickup</option>
                </select>
              </td>
              <td>
                <button id="notific_btn" class="btn btn-info" disabled>Show Preview</button>
              </td>
            </tr>
            </form>
          </table>
        </fieldset>
        <fieldset style='margin-top:2em' class="form-fieldset">
          <legend>Voice Notifications</legend>
          <table border="0" cellpadding="5" cellspacing="10">
            <form id='voice_notific_form' style='margin-top:2em' disabled>
            <tr>
              <td>
                <select name="type_" class="form-control" disabled>
                  <option value="res_pickup">Residential Pickup</option>
                  <option value="res_drop">Residential Dropoff</option>
                  <option value="res_cancel">Residential Cancelling</option>
                  <option value="bus_pickup">Business Pickup</option>
                </select>
              </td>
              <td>
                <button id="notific_btn" class="btn btn-info" disabled>Hear Preview</button>
              </td>
            </tr>
            </form>
          </table>
        </fieldset>
        <fieldset style='margin-top:2em' class="form-fieldset">
          <legend>SMS Notifications</legend>
          <table border="0" cellpadding="5" cellspacing="10">
            <form id='sms_notific_form' style='margin-top:2em' disabled>
            <tr>
              <td>
                <select name="type_" class="form-control" disabled>
                  <option value="res_pickup">Residential Pickup</option>
                  <option value="res_drop">Residential Dropoff</option>
                  <option value="res_cancel">Residential Cancelling</option>
                  <option value="bus_pickup">Business Pickup</option>
                </select>
              </td>
              <td>
                <button id="notific_btn" class="btn btn-info" disabled>Show Preview</button>
              </td>
            </tr>
            </form>
          </table>
        </fieldset>

    </div>

		<div class="tab-pane" id="settings" role="tabpanel"></div>
	</div>

	<!-- Loader -->
  <div>
    <div class="loader-div" style="background:white; display:none">
      <button class="btn btn-info loader">
        <span class="fa fa-refresh loader-animate"></span>
        <label style="margin-bottom:0; margin-left:5px">Loading...</label>
      </button>
    </div>
  </div>
</div>

  {% endblock %}
