{% extends "views/base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css">
  <script src="{{url_for("main.static", filename="js/lib/morris.min.js")}}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="{{url_for("main.static", filename="js/utils.js")}}"></script>
  <script src="{{url_for("main.static", filename="js/analytics.js")}}"></script>
  <script src="{{url_for("main.static", filename="js/charts.js")}}"></script>
  <link href="{{url_for("static", filename="main/css/lib/morris.css")}}" rel="stylesheet" type="text/css">
  <link href="{{url_for("static", filename="main/css/account.css")}}" rel="stylesheet" type="text/css">
  <script> jQuery(function($){analyticsInit(); initCharts();}); </script>
{% endblock %}

{% block content %}
  <div class="hpanel mb-3"><!--Chart Panel-->
    <div class="panel-heading" hidden>
      <div class="col-12 text-center">
        <h5 class="analy-title text-center mb-0">
          <span id="grp_type"></span> Gift Estimates, 
          <span id="title_start_d"></span>&ndash;
          <span id="title_end_d"></span>
        </h5>
      </div>
    </div>
    <div class="analy-panel panel-body p-3">
      <div id="summary" class="p-3"  hidden><!--Chart Summary-->
        <div><span id="total"></span> Total</div>
        <div><span id="avg"></span> Average</div>
      </div>
      <div class="row loading" style="height:400px">
        <div class="col-12 text-center my-auto">
          <div class="chart-logo mx-auto"></div>
          <h1 class="chart-logo-title mt-4" hidden>
            Gift Graph
          </h1>
          <p class="chart-instr mt-3">
            Visualize your data with the options below.
          </p>
        </div>
        <div class="mx-auto my-auto" hidden>
          <i class="spinner fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
        </div>
      </div>
      <div class="col chart mx-auto" id="chart" hidden></div><!--Morris Chart-->
    </div>
    <div class="panel-footer" style="background-color:white"></div>
  </div>
  <div class="d-flex justify-content-center flex-wrap"><!--Chart Controls-->
    <div class="col-12 col-sm-7 input-daterange input-group mb-2">
      <input id="start-date" name="start" type="text" class="form-control" placeholder="FROM (mm/dd/yyyy)">
      <div id="start-btn" class="input-group-addon fa fa-calendar"></div>
      <input id="end-date" name="end" type="text" class="form-control" placeholder="UNTIL (mm/dd/yyyy)">
      <div id="end-btn" class="input-group-addon fa fa-calendar"></div>
    </div>
    <div class="dropdown col-12 col-sm-3 mb-2">
      <button id="dataset-btn" type="button" class="btn btn-secondary dropdown-toggle col-12" data-toggle="dropdown">Gift Revenue</button>
      <div id="dataset-dd" class="dropdown-menu dropdown-menu-right" aria-labelledby="dataset-btn">
        <a class="dropdown-item" id="gift-revenue" href="#">Gift Revenue</a>
        <a class="dropdown-item" id="n-donor-trend" href="#">Donor Growth/Attrition</a>
      </div>
    </div>
    <div class="col-12 col-sm-2 mb-2">
      <button type="button" id="analyze" class="btn btn-primary col-12" disabled="">Visualize</button>
    </div>
  </div>
{% endblock %}
