{% extends "views/base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css">
  <script src="{{url_for("main.static", filename="js/lib/morris.min.js")}}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="{{url_for("main.static", filename="js/utils.js")}}"></script>
  <script src="{{url_for("main.static", filename="js/analytics.js")}}"></script>
  <script src="{{url_for("main.static", filename="js/charts.js")}}"></script>
  <link href="{{url_for("static", filename="main/css/lib/morris.css")}}" rel="stylesheet" type="text/css">
  <link href="{{url_for("static", filename="main/css/account.css")}}" rel="stylesheet" type="text/css">
  <script> jQuery(function($){analyticsInit(); initCharts();}); </script>
{% endblock %}

{% block postlibs %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jcanvas/20.1.2/jcanvas.js"></script>
{% endblock %}

{% block content %}
  <!--Analytics Panel-->
  <div class="analy-panel mt-5">
    <!--Chart Pane-->
    <div class="analy-hdr text-left py-2 px-3" data-toggle="collapse" data-target="#chart-panel">
      <span class="analy-hdr-title text-center mb-0">Data Visualization</span>
      <span class="pull-right" style="color: #279bbe;">
        <i class="fa fa-window-minimize text-right"></i>
      </span>
    </div>
    <div id="chart-panel" class="collapse show" style="height:500px;">
      <div class="analy-title text-center py-2"></div>
      <div class="chart" style="height:450px;" id="chart">
        <canvas id="cv" style="width:1198px; height:450px;"></canvas>
        <!--morris.js chart inserted here when created-->
      </div>
    </div>
    <!--Control Pane-->
    <div class="analy-hdr text-left py-2 px-3" data-toggle="collapse" data-target="#ctrl-panel">
      <span class="analy-hdr-title text-center mb-0">Options</span>
      <span class="pull-right" style="color: #279bbe;">
        <i class="fa fa-window-minimize text-right"></i>
      </span>
    </div>
    <div id="ctrl-panel" class="collapse show" aria-expanded="true">
      <div class="d-flex justify-content-around p-5">
        <div class="col-lg-3">
          <h5 class="analy-ctrl-sel text-center mb-3">Select Dataset</h5>
          <div class="dropup" id="dataset">
            <button id="dataset-btn" type="button" class="btn btn-secondary dropdown-toggle col-12"
            data-toggle="dropdown" aria-expanded="false">Gift Revenue</button>
            <div id="dataset-dd" class="dropdown-menu dropdown-menu-right mr-3 col-10" aria-labelledby="dataset-btn">
              <a class="dropdown-item" id="gift-revenue" href="#">Gift Revenue</a>
              <a class="dropdown-item" id="n-donor-trend" href="#">Donor Growth/Attrition</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <h5 class="analy-ctrl-sel text-center mb-3">Select Date Range</h5>
          <div class="input-daterange input-group mb-2">
            <input id="start-date" name="start" type="text" class="form-control" placeholder="mm/dd/yyyy">
            <div id="start-btn" class="input-group-addon fa fa-calendar"></div>
            <input id="end-date" name="end" type="text" class="form-control" placeholder="mm/dd/yyyy">
            <div id="end-btn" class="input-group-addon fa fa-calendar"></div>
          </div>
        </div>
        <div class="col-lg-3">
          <h5 class="analy-ctrl-sel text-center mb-3">Graph Data</h5>
          <div class="text-center">
            <button type="button" id="analyze" class="btn btn-primary col-12">Analyze</button>
          </div>
        </div> 
      </div>
    </div>
    <!--Results Pane-->
    <div class="analy-hdr text-left py-2 px-3" data-toggle="collapse" data-target="#res-panel">
      <span class="text-center analy-hdr-title mb-0">Summary</span>
      <span class="pull-right" style="color:#279bbe;">
        <i class="fa fa-window-maximize text-right"></i>
      </span>
    </div>
    <div id="res-panel" class="collapse">
      <div class="d-flex justify-content-start p-5">
        <div id="total-card" class="card admin-card res-card text-center">
          <div class="my-auto p-3">
            <div class="admin-stat"></div>
            <div class="admin-lbl">Total</div>
          </div>
        </div>
        <div id="avg-card" class="card admin-card res-card text-center">
          <div class="my-auto p-3">
            <div class="admin-stat"></div>
            <div class="admin-lbl">Average</div>
          </div>
        </div>
        <div id="datapoints-card" class="card admin-card res-card text-center">
          <div class="my-auto p-3">
            <div class="admin-stat"></div>
            <div class="admin-lbl">Datapoints</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5"></div>
  <div class="col-12 mt-5" hidden>
    -Add filter to be able to measure data subsets:<br>
      -Acquisit. Campaign for Donor Growth/Attrition to compare campaign results<br>
      -Acquisit. Campaign for Gift Revenue to compare long-term Avg Gift/Participation<br>
      -Persona Type for Gift Revenue (stacked bar chart)<br>
      -Add line graph when visualizing multiple non-related datasets (on-going participation/revenue/attrition from 1 or more campaigns)
  </div>
{% endblock %}
