<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Bravo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="{{url_for("static", filename="main/images/favicon.ico")}}" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Port+Lligat+Sans|Kavoon|Inconsolata" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link href="{{url_for("static", filename="main/css/new_event.css")}}" rel="stylesheet" type="text/css">
    <link href="{{url_for("static", filename="main/css/style.css")}}" rel="stylesheet" type="text/css">
    <link href="{{url_for("static", filename="main/css/hpanel.css")}}" rel="stylesheet" type="text/css">
    <script type=text/javascript>var $URL_ROOT={{request.url_root|tojson|safe}}</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
		<script src="https://use.fontawesome.com/e2c4434e45.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </head>

  <body style="display:none">
    <script src="{{url_for("static", filename="main/js/globals.js")}}"></script>
    <script src="{{url_for("static", filename="main/js/admin_panel.js")}}"></script>
    <script src="{{url_for("static", filename="main/js/utils.js")}}"></script>
    <script src="{{url_for("static", filename="main/js/api.js")}}"></script>
    <script src="{{url_for("static", filename="main/js/alerts.js")}}"></script>
    <script src="{{url_for("static", filename="main/js/modal.js")}}"></script>
    <script src="{{url_for("static", filename="main/js/app.js")}}"></script>
    <script src="{{url_for("static", filename="main/js/date.js")}}"></script>
    <script>
      window.onload = function() {
        $("body").show();
      }
    </script>
    
    <div class="container-fluid" style="max-width:1600px">
      {% include "views/navbar.html" %}
      <hr class="mt-0">
      <div class="alert br-alert"></div>
      {% block content %}{% endblock %}

      {% if admin == True %}
        {% include "views/admin_panel.html" %}
      {% endif %}
      {% include "views/dialog.html" %}
    
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    </div>
</body>
</html>
