{% extends "views/base.html" %}

{% block head %}  
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.2/css/select.bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{url_for("main.static", filename="css/datatable.css")}}"/>
  <script type="text/javascript" src="{{url_for("main.static", filename="js/datatable.js")}}"></script>
{% endblock %}

{% block postlibs %}
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.2.2/js/dataTables.rowReorder.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js"></script>
  <script>$(function() {initDatatable();});</script>
{% endblock %}
  
{% block content %}
  <table id="datatable" class="table table-responsive" style="display:none">
    <thead></thead>
    <tbody></tbody>
  </table>
  <div class="alert br-alert" hidden></div>
{% endblock %}
