
<div id="navs" class="container-fluid p-0">
  <nav id="main-nav" class="navbar navbar-toggleable-md navbar-light justify-content-center pt-2" style="display:flex;">
    <button id="menu-toggle-btn" class="navbar-toggler collapsed" style="display:none;" type="button"
    data-toggle="collapse" data-target="#invisi-nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a id="logo_a" class="navbar-brand text-center pb-2 pt-0" style="position:relative; left:0px;" href="/notify/">
      <img id="logo_img" class="logo-img-sm">
    </a>
    <div id="searchbar" class="pb-2" style="display: block;">
      <div class="dropdown">
        <div class="input-group ml-2">
          <input id="search_input" class="form-control col-sm-10 ml-2 dropdown-toggle" name="acct" type="text" data-toggle="dropdown" style="background-color:whitesmoke" placeholder="Search accounts..." autocomplete="off" autofocus="">
          <!--Dropdown-->
          <div class="dropdown-menu ml-2"></div>
          <div class="input-group-btn">
            <button class="btn btn-secondary px-2 py-1" type="button" id="search">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <!--SearchResult-->
        <a class="dropdown-item" id="search-item" href="" hidden="">
          <div>
            <span>
              <i class="fa fa-circle fa-1 mr-1" id="sr-status" style="font-size:0.75em"></i>
            </span>
            <span id="sr-name"></span>
            <small id="sr-email"></small>
          </div>
          <div>
            <small id="sr-addr" class="ml-3"></small>
          </div>
        </a>
      </div>
    </div>
    <ul id="main-menu" class="navbar-nav justify-content-center" style="flex-direction: row; margin: 0rem 0.5rem;">
      <li class="d-flex nav-item br-nav-item">
        <a class="nav-link d-flex pb-2" href="/notify/">
        <i class="fa fa-calendar-check-o fa-2x br-nav-icon mr-1"></i>
        <span class="my-auto">Notify</span>
        </a>
      </li>
      <li class="nav-item br-nav-item">
        <a class="nav-link d-flex" href="/routing">
        <i class="fa fa-road fa-2x br-nav-icon mr-1"></i>
        <span class="my-auto">Routing</span>
        </a>
      </li>
      <li class="nav-item br-nav-item pb-2" style="border-bottom: 1px solid #279bbe;">
        <a class="nav-link d-flex" href="/booker/">
        <i class="fa fa-book fa-2x br-nav-icon mr-1"></i>
        <span class="my-auto">Booker</span>
        </a>
      </li>
      <li class="nav-item br-nav-item">
        <a class="nav-link d-flex" href="/alice/">
        <i class="fa fa-weixin fa-2x br-nav-icon mr-1"></i>
        <span class="my-auto">Alice</span>
        </a>
      </li>
      <li class="nav-item br-nav-item">
        <a class="nav-link d-flex" href="/admin">
        <i class="fa fa-cogs fa-2x br-nav-icon mr-1"></i>
        <span class="my-auto">Admin</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="collapse" id="invisi-nav" style="background-color:white;">
  </div>
  <!--Admin Navbar-->
  <nav id="admin-nav" class="navbar navbar-toggleable-md justify-content-center py-2" hidden>
    <ul class="navbar-nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#stats" role="tab">
          <i class="fa fa-flask pr-1"></i>
          <span>Statistics</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link admin-nav-a" data-toggle="tab" href="#services" role="tab">
          <i class="fa fa-plug pr-1"></i>
          <span>Integration</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link admin-nav-a" data-toggle="tab" href="#me" role="tab">
          <i class="fa fa-user-plus pr-1"></i>
          <span>Me</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link admin-nav-a" data-toggle="tab" href="#previewer" role="tab">
          <i class="fa fa-envelope-open pr-1"></i>
          <span>Previewer</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link admin-nav-a" data-toggle="tab" href="#recent">
          <i class="fa fa-history pr-1"></i>
          <span>Recent</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link admin-nav-a" data-toggle="tab" href="#analytics" role="tab">
          <i class="fa fa-bar-chart pr-1"></i>
          <span>Analytics</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link admin-nav-a" data-toggle="tab" href="#map_analyzer" role="tab">
          <i class="fa fa-map-marker pr-1"></i>
          <span>Map Analyzer</span>
        </a>
      </li>
    </ul>
  </nav>
</div>




