{% extends "views/base.html" %}
{% block content %}

<script type="text/javascript" src="{{url_for("main.static", filename="js/strftime.js")}}"></script>
<script type="text/javascript" src="{{url_for("main.static", filename="js/tools.js")}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initGoogleMap" async defer></script> 
<script>
  document.write("<style type='text/css'> body{display:none}</style>");
  jQuery(function($){ init(); $("body").css("display","block"); });
</script>

<div class="container">
	<ul style="margin-bottom:0em" class="nav nav-tabs" role="tablist" hidden>
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#block_splitter" role="tab">Map Analyzer</a>
		</li>
	</ul>
  <!--!TABS-->
	<div class="tab-content">
		<div class="tab-pane active" id="block_splitter" style='margin-bottom:7em' role="tabpanel">
      <div class="card-deck">
        <div class="card mt-0">
          <div class="card-header blue">
            <label style="font-weight:400; font-size:1.5rem" class="">My Maps</label>
          </div>
          <div class="card-block" style="max-height:700px">
            <div class=" row">
              <label for="map_count" class="col-3 col-form-label">Count:</label>
              <label type="text" id="map_count" class="col-form-label col-7"></label>
            </div>
            <div class=" row">
              <label for="last_updated" class="col-3 col-form-label">Last Updated:</label>
              <label type="text" id="last_updated" class="col-form-label col-7"></label>
            </div>
						<div class="row mt-3">
							<label class="col-form-label col-3">Synchronize:</label>
							<div class="pl-3">
								<button id="update_maps" type="button" class="btn btn-secondary mt-2">Update Now</button>
							</div>
						</div>
						<br><hr><br>
            <div class="row mb-3">
              <label for="map_select" class="col-3 col-form-label">Map Title:</label>
							<div class="col-9">
								<select class="form-control" id="map_select">
									<option value="" disabled selected>Loading...</option>
								</select>
							</div>
            </div>
            <div class="row">
              <label for="description" class="col-3 col-form-label">Description:</label>
              <label type="text" id="description" class="col-form-label col-10"
              style="max-width:366px; max-height:40px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis"
                >None</label>
            </div>
            <div class="row" hidden>
              <label for="n_coords" class="col-3 col-form-label">Coordinate Sets:</label>
              <label type="text" id="n_coords" class="col-form-label col-7">None</label>
            </div>
            <div class=" row">
              <label for="block" class="col-3 col-form-label">Block:</label>
              <label type="text" id="block" class="col-form-label col-7">None</label>
            </div>
            <div class=" row">
              <label for="neighborhoods" 
              class="col-3 col-form-label">Areas:</label>
              <label type="text" id="neighborhoods" class="col-form-label col-10"
              style="max-width:366px;  white-space:nowrap; overflow:hidden; text-overflow:ellipsis"
                >None</label>
            </div>
						<br><hr><br>
            <div class="alert alert-warning" role="alert">
              Any accounts within the selected map area will be identified and written to Bravo Sheets. 
              This process may take a few minutes.
            </div>
            <div style="margin-top:1.5em; text-align:center">
              <button id="analyze" style="width:100%; margin-left:auto; margin-right:auto;" type="button" class="btn btn-secondary btn-lg">Run Analysis</button>
            </div>
          </div>
        </div>
        <!--!CARD-->
        <div class="card" style="height:100%;">
          <div class="card-header" style="background-color:#517ba3; color:white;">
            <label style="font-weight:400; font-size:1.5rem" class="">Analysis Results</label>
          </div>
          <div class="card-block">
            <div class=" row">
              <label for="status" class="col-3 col-form-label">Status:</label>
              <label type="text" id="status" class="col-form-label col-7">Inactive</label>
            </div>
            <div class=" row">
              <label for="search_in" class="col-3 col-form-label">Searching in:</label>
              <label type="text" id="search_in" class="col-form-label col-7">None</label>
            </div>
            <div class="row">
              <label for="n_matches" class="col-3 col-form-label">Matches:</label>
              <label type="text" id="n_matches" class="col-form-label col-7">None</label>
            </div>
          </div>
          <div class="card-block">
            <div style="height:460px" id="map"></div>
          </div>
        </div>
        <!--!CARD-->
      </div>
      <!--!CARD DECK-->
    </div>
    <!--!TAB-PANE-->
  </div>
  <!--!TAB-CONTENT-->
</div>
<!--!CONTAINER-->
{% endblock %}
